<div id="cont-cuenta" class="container-xlg">
  <div class="account contact-form container-lg">

    <!--PERSONAL INFO-->
    <form action="/contact/send" method="post">
      <h1>Contáctanos</h1>
      <p class="alert-msg"><%= page.message %></p>

      <div class="cont-form-cuenta" layout="row" layout-md="column" layout-sm="column" layout-align="space-between center">
        <div class="cont-input-cuenta" flex="45" flex-md="100" flex-sm="100">
          <label>Nombre</label>
          <input required flex="100" type="text" value="" name="contactName" placeholder="Nombre" class="input-cuenta">
        </div>
        <div class="cont-input-cuenta" flex="45" flex-md="100" flex-sm="100" >
          <label>E-mail</label>
          <input required flex="100" type="email" value="" name="contactEmail" placeholder="E-mail" class="input-cuenta">
        </div>
      </div>

      <div>
        <textarea required cols="30" rows="5" name="contactMessage" placeholder="Mensaje"></textarea>
      </div>

      <div class="cont-form-cuenta" flex="100" layout="row" layout-align="center center" layout-wrap>
        <div class="cont-input-cuenta" flex="20" flex-md="80" flex-sm="90" layout="row" layout-align="start end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
          <input type="submit" flex="100" class="boton-cuenta" value="ENVIAR">
        </div>
      </div>

    </form>
    <!--END PERSONAL INFO-->


  </div>
</div>
