<div id="cont-cuenta" class="container-xlg">
  <div class="account contact-form container-lg">

    <h1>Cambio de contraseña</h1>
    <% if(messageCode == 'success'){ %>
      <label>Tu contraseña ha sido cambiada con exito, haz click en "Iniciar sesión para ingresar"</label>
    <% }else if(messageCode == 'failed'){ %>
      <label>Hubo un error, intenta de nuevo</label>
    <% } %>

  </div>
</div>
