<div id="cont-cuenta" class="container-xlg">
  <div class="account contact-form container-lg">

    <h1>Cambio de contraseña</h1>
    <% if(messageCode == 'success'){ %>
      <label><%= __('password_change_success') %></label>
    <% }else if(messageCode == 'failed'){ %>
      <label><%= __('password_change_failed') %></label>
    <% } %>

  </div>
</div>
