<section class="add-transport-modal" ng-show="agregarVisibility" ng-cloak>
  <div class="c-container c-container-xsm">
    <p><i class="icon-transporte"></i></p>
    <h4><strong>Agregar transportación al tour</strong></h4>
    <p class="pull-left">
      <i class="icon-pin pin-agregar"></i>Hotel
    </p>
   	<md-select class="custom-select" placeholder="Agregar" ng-model="hotel">
  	 <md-option value="{{hotel.id}}" class="ng-cloak" ng-repeat="hotel in hotels">{{hotel.name}}</md-option>
    </md-select>

    <div class="botones-agregar" layout="row" layout-align="center center" >
  		<a ng-if="hotel" class="action-btn" ng-href="/reserva?hotel={{hotel.id}}&tour={{selectedTour.id}}">
  			<strong>Agregar</strong>
  		</a>
      <a ng-if="!hotel" class="action-btn" href="#">
        <strong>Agregar</strong>
      </a>
  		<a class="action-btn" ng-href="/reserva?tour={{selectedTour.id}}">
  			<strong>Ahora no</strong>
  		</a>
  	</div>
  </div>
</section>
