<% if(req.options.controller === 'reserva' && req.options.action === 'voucher'){ %>

  <% for(var i=0;i<reservations.length; i++){ %>
    <% if(reservations[i].tour){ %>
      <% if(reservations[i].tour.id === '567ae4a3df51b90c0042077b'){ %>

          <!-- Google Code for Reservaci&oacute;n Hoverboard Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "vlvSCK6Dm2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=vlvSCK6Dm2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <% } %>
      <% if(reservations[i].tour.id === '56799c947c69df0c0028db41'){ %>

          <!-- Google Code for Reservaciones Snorkeling MUSA Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "etpUCLuBm2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=etpUCLuBm2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <% } %>
      <% if(reservations[i].tour.id === '568ee28a1e8b6c0c0060d9ed'){ %>

          <!-- Google Code for Reservaci&oacute;n Private Fishing Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "4nZVCLrwp2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=4nZVCLrwp2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <% } %>
      <% if(reservations[i].tour.id === '569fe383c976b60c00ca12d0'){ %>

          <!-- Google Code for Reservaciones Jungle Tour Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "XvHbCNqFm2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=XvHbCNqFm2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <% } %>
      <% if(reservations[i].tour.id === '567afe6cdf51b90c00420793'){ %>

          <!-- Google Code for Reservaciones Flyboard Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "CJhLCNbxp2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=CJhLCNbxp2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <% } %>
      <% if(reservations[i].tour.id === '5681addbd4bc3e0c00a64e77'){ %>

          <!-- Google Code for Reservaciones Catamaran Sailing Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 922441335;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "TF_uCKOHm2YQ96zttwM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/922441335/?label=TF_uCKOHm2YQ96zttwM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>
      <% } %>

    <% } %> <!--END IF-->
  <% } %> <!--END FOR-->

<% } %><!--END IF-->


