<div id="footer" class="footer">
	<div class="container-xxlg" layout="row" layout-md="column" layout-sm="column" >

    <div class="logo-footer" flex="10" flex-md="100" flex-sm="100" >
			<a href="/home"><img  src="/images/water.png" alt=""></a>
		</div>

    <div flex="40" flex-md="100" flex-sm="100">
      <div layout="row">
        <div class="content-col" flex="33">
          <ul>
    				<li><a href="#">Aventura</a></li>
    				<li><a href="#">Viajes</a></li>
    				<li><a href="#">Buceo</a></li>
    				<li><a href="#">Snorkel</a></li>
    				<li><a href="#">Pesca</a></li>
          </ul>
    		</div>
    		<div class="content-col" flex="33"  >
          <ul>
    				<li><a href="">Quienes somos</a></li>
    				<li><a href="">Preguntas frecuentes</a></li>
    				<li><a href="">Aviso de privacidad</a></li>
    		  <ul>
        </div>
    		<div class="content-col" flex="33" >
    			<ul>
    				<li><a ng-click="doRegisterToggle()" href="">Registro</a></li>
    				<li><a ng-click="doLoginToggle()" href="">Iniciar sesión</a></li>
    				<li><a href="/cuenta">Mi cuenta</a></li>
    			</ul>
    		</div>
      </div>
    </div>

		<div class="content-col" flex="30" flex-md="60" flex-sm="85">
			<p><strong>CONTACTO</strong></p>
			<p><strong>Avenida Bonampak Calle Cereza # 1 SM 2A</strong></p>
			<p>L 20 CP 77500 Cancun Quintana Roo, Mexico</p>
			<p><strong>+(998) 2.54.03.47</strong></p>
			<p><a href="mailto:info@watertours.com"><strong>info@watertours.com</strong></a></p>
		</div>
		<div class="content-col last-col" flex="20" flex-md="100" flex-sm="100">
			<p>
				<img class="payment-method" src="/images/pay-fo.png">
				<img class="payment-method" src="/images/mas-fo.png">
				<img class="payment-method" src="/images/visa-fo.png">
			</p>
			<div class="redes-footer">
				<a href="" target="_blank" layout-align="center center"><i class="icon-face"></i></a>
				<a href="" target="_blank" layout-align="center center"><i class="icon-twit"></i></a>
				<a href="" target="_blank" layout-align="center center"><i class="icon-instagram"></i></a>
			</div>
		</div>
	</div>
</div>
