<!--HEADER DESKTOP/TABLET-->

<div class="header header-desktop" hide-sm layout="row" layout-md="column" layout-sm="column" layout-align="space-between start" layout-align-md="center center">

  <div class="menu-section menu-section-first" flex="40" flex-md="100" flex-sm="100" flex-order-md="3">
    <div layout="row">

      <form class="search-box" ng-controller="Search" flex layout="row" layout-align="start center" ng-submit="$event.preventDefault()">
        <i class="icon-buscador"></i>
        <md-autocomplete
          md-selected-item="selectedTour"
          md-selected-item-change="selectedItemChange(item)"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Buscar"
          md-menu-class="autocomplete-custom-template"
          class="input-header" >
          <md-item-template>
            <span class="item-title search-box-item">
              <i class="icon-todos"></i> <a href="/detalle/{{item.id}}"> {{item.name}} </a>
            </span>
          </md-item-template>
        </md-autocomplete>
      </form>

      <!--<div  class="advanced-search" ng-class="{'advanced-search-on': toggleSearch}" layout="row" layout-align="center center">-->
        <!--<a ng-click="toggleSearch = !toggleSearch" href=""><strong>BÚSQUEDA AVANZADA</strong></a>-->
        <!--<%- partial('../partials/search') -%>-->
      <!--</div>-->

      <div  class="advanced-search" layout="row" layout-align="center center">
        <a href="/resultados"><strong>BÚSQUEDA AVANZADA</strong></a>
      </div>
    </div>
  </div>

  <div class="menu-section" flex="20" flex-md="100" flex-sm="100" flex-order-md="1">
    <a href="/"><img class="logo" src="/images/watertourslogo.png" alt=""></a>
  </div>

  <div class="menu-section account-menu" flex="35" flex-md="100" flex-sm="100"  flex-order-md="2">
    <div layout="row" layout-align="end center">

      <% if(req.user){ %>
        <span class="login-icon-wrap">
          <a href="/cuenta"><i class="icon-login"></i></a>
        </span>

        <span class="account-item">
          <a href="/cuenta">
            <strong>
              Mi cuenta / <%- req.user.name %>
            </strong>
          </a>
        </span>
      <% } %>
      <span>
         <% if(req.user){ %>
          <a href="/logout"><strong>Cerrar sesión</strong></a>
        <% }else{ %>
          <a ng-click="doRegisterToggle()" href=""><strong>Registro</strong></a>
        <% } %>
      </span>
      <span>
        <a href="#">
          <i class="icon-carrito"></i>
          <span class="cart-items-n" ng-if="cart_items.length > 0">{{cart_items.length}}</span>
        </a>
      </span>
      <% if(!req.user){ %>
        <span><a ng-click="doLoginToggle()" href="" class="action-btn"><strong>Login</strong></a></span>
      <% } %>
    </div>
  </div>

</div>

<!--END HEADER DESKTOP/TABLET-->

<!--HEADER MOBILE-->

<div class="header header-mobile" hide-gt-sm show-sm>

  <div layout="row" layout-align="space-between center">

    <div ng-click="toggleMenuMobile = !toggleMenuMobile" flex="15" class="button-menu-mobile">
      <hr><hr><hr>
    </div>

    <div flex="40">
      <a href="/"><img class="logo" src="/images/watertourslogo.png" alt=""></a>
    </div>

    <div flex="30" class="account-menu" flex-order-md="2">
      <div layout="row" layout-align="end center">
        <span class="login-icon-wrap">
          <a href="/cuenta"><i class="icon-login"></i></a>
        </span>
        <span><a href="#"><i class="icon-carrito"></i></a></span>
      </div>
    </div>

  </div>


  <div class="container-mini submenu" layout="row" layout-align="space-between center">
    <span>
      <a ng-click="toggleSearchMobile = !toggleSearchMobile" href=""><strong>Búsqueda</strong></a>
    </span>
    <span>
      <a href="/cuenta"><strong>Mi cuenta</strong></a>
    </span>
    <% if(!req.user){ %>
      <span>
        <a ng-click="doRegisterToggle($event)" href=""><strong>Registro</strong></a>
      </span>
      <span>
        <a ng-click="doLoginToggle($event)" href="" class="action-btn"><strong>Login</strong></a>
      </span>
    <% }else{ %>
      <span>
        <a href="/logout"><strong>Cerrar sesión</strong></a>
      </span>
    <% } %>
  </div>

</div>

<div class="header search-mobile" ng-class="{'search-mobile-on': toggleSearchMobile}">
  <form class="search-box" flex ng-submit="$event.preventDefault()">
    <md-autocomplete
      md-selected-item="selectedTour"
      md-selected-item-change="selectedItemChange(item)"
      md-items="item in querySearch(searchText)"
      md-item-text="item.name"
      md-min-length="0"
      placeholder="Buscar"
      md-menu-class="autocomplete-custom-template"
      class="input-header" >
      <md-item-template>
        <span class="item-title">
          <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
          <a href="/detalle/{{item.id}}"> {{item.name}} </a>
        </span>
      </md-item-template>
    </md-autocomplete>
  </form>

  <!--<div ng-click="toggleSearch = !toggleSearch" class="advanced-search">
    <a href="#"><strong>BÚSQUEDA AVANZADA</strong></a>
  </div>
  <%- partial('../partials/search') -%>-->

  <div class="advanced-search">
    <a href="/resultados"><strong>BÚSQUEDA AVANZADA</strong></a>
  </div>

</div>

<!--END HEADER MOBILE-->
