<div class="header" layout="row" layout-align="space-between center" layout-align-md="center center">

  <div flex="40">
    <div layout="row" layout-align="start center">

      <div class="button-menu-mobile">
        <hr><hr><hr>
      </div>

      <form class="search-box" flex ng-submit="$event.preventDefault()">
        <md-autocomplete
          md-selected-item="selectedTour"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Buscar"
          md-menu-class="autocomplete-custom-template"
          class="input-header" >
          <md-item-template>
            <span class="item-title">
              <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
              <a href="/detalle/{{item.id}}"> {{item.name}} </a>
            </span>
          </md-item-template>
        </md-autocomplete>
      </form>

      <div ng-click="toggleSearch = !toggleSearch" class="advanced-search">
        <a href="#"><strong>BÚSQUEDA AVANZADA</strong></a>
      </div>

    </div>
  </div>

  <div flex="20">
    <a href="/"><img class="logo" src="/images/watertourslogo.png" alt=""></a>
  </div>

  <div flex="35" class="account-menu">
    <div layout="row" layout-align="end center">
      <span>
        <img src="/images/perfil.png" alt="Mi cuenta">
      </span>
      <span class="account-item">
        <a href="/cuenta"><strong>Mi cuenta</strong></a>
      </span>
      <span>
        <a ng-click="doRegisterToggle()" href=""><strong>Registro</strong></a>
      </span>
      <span><a href="#"><i class="icon-carrito"></i></a></span>
      <span><a ng-click="doLoginToggle()" href="" class="action-btn"><strong>Login</strong></a></span>
    </div>
  </div>

</div>
