<div class="form-modal" id="login-modal" ng-show="loginToggle" layout="row" layout-align="center center" layout-wrap>
  <a class="form-modal-close" href="" ng-click="doLoginToggle()"><i class="icon-cerrar"></i></a>
  <h3>Iniciar sesión</h3>
  <form action="/login" method="post" flex="100" layout="row" layout-align="center center" layout-wrap>
      <input name="username" type="text" flex="80" type="text" placeholder="Usuario">
      <input name="password" type="password" flex="80" type="text" placeholder="Contraseña">
      <input type="submit" value="INICIAR SESIÓN" class="action-btn" flex="80">
  </form>
  <p>O INICIA SESIÓN CON:</p>
  <a href="/login_fb" class="action-btn fb-btn" flex="80">
    <strong >FACEBOOK</strong>
  </a>
  <div flex="80">
    <div class="bottom-btns" layout="row" layout-align="space-between center">
      <a href=""><strong>Olvidé mi contraseña</strong></a>
      <a href=""><strong>Crear una cuenta</strong></a>
    </div>
  </div>
</div>
