<div id="login-cont" class="ng-cloak desactivar" layout="row" layout-align="center center" layout-wrap>
  <div class="registrar-text" layout="row" layout-align="center center" flex="100">Login</div>
  <form method="post" flex="100" layout="row" layout-align="center center" layout-wrap>
      <input type="text" flex="80" type="text" placeholder="Username" class="input-re">
      <input type="password" flex="80" type="text" placeholder="Password" class="input-re">
      <input type="button" value="SING UP" id="boton-sing" flex="80">
  </form>
  <div class="text-sing" layout="row" layout-align="center center" flex="80">OR SING IN WITH</div>
  <a href="" layout="row" flex="80"><div id="boton-facebook" layout="row" layout-align="center center" flex="100">FACEBOOK</div></a>
  <a href="" layout="row" flex="50"><div class="text-sing-2 forgot" layout="row" layout-align="center center" flex="100">I forgot password</div></a>
  <a href="" layout="row" flex="50"><div class="text-sing-2 create" layout="row" layout-align="center center" flex="100">Create new account</div></a>
</div>