<div id="cont-menu" ng-class="{'menu-mobile-on': toggleMenuMobile}" flex layout="row"  layout-align="space-around center" layout-wrap hide-gt-sm>

  <div class="cont-menu" flex="40" layout="row" layout-align="space-around  center " layout-wrap >
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="row" layout-align="space-around center" class="enlace-menu ">
        <i class="icon-aventura icon-desplegable"></i>
        <div class="text-menu">AVENTURA</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="row" layout-align="space-around center" class="enlace-menu en-menu viajes ">
         <i class="icon-viajes icon-desplegable viajes"></i>
         <div class="text-menu viajes">VIAJES</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="row" layout-align="space-around center" class="enlace-menu en-menu ">
        <i class="icon-buceo icon-desplegable"></i>
        <div class="text-menu">BUCEO</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="row" layout-align="space-around center" class="enlace-menu en-menu ">
        <i class="icon-snorkel icon-desplegable"></i>
        <div class="text-menu">SNORKEL</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="row" layout-align="space-around center" class="enlace-menu en-menu ">
       <i class="icon-pesca icon-desplegable"></i>
       <div class="text-menu viajes">PESCA</div>
      </div>
    </a>
  </div>

  <div id="cerrar-movil" ng-click="toggleMenuMobile = false" flex="30" layout="row" layout-align="end start" >
    <img id="cerrar-menu-movil" src="images/cerrarcel.png" alt="">
  </div>

</div>
