<div class="cont-menu menu-mobile" hide-gt-sm ng-class="{'menu-mobile-on': toggleMenuMobile}">

  <div class="menu-mobile-inner">
    <% for(var i=0;i<meta.categories.length;i++){ %>
      <a href="/tours/<%= meta.categories[i].url %>" >
      <i class="icon-<%= meta.categories[i].name_en.replace(' ','-').toLowerCase() %> icon-desplegable"></i>
      <span><%= meta.categories[i].name.toUpperCase() %></span>
    </a>
    <% } %>
  </div>

  <div class="close-mobile" ng-click="toggleMenuMobile = false">
    <img id="cerrar-menu-movil" src="images/cerrarcel.png" alt="Cerrar Menu">
  </div>

</div>
