<div id="registrar-cont" ng-show="toggleRegister" layout="row" layout-align="center center" layout-wrap>
  <div class="registrar-text" layout="row" layout-align="center center" flex="100">Register</div>
  <form method="post" flex="100" layout="row" layout-align="center center" layout-wrap>
      <input type="text" flex="80" type="text" placeholder="Name" class="input-re">
      <input type="email" flex="80" type="text" placeholder="Email" class="input-re">
      <input type="passwrod" flex="80" type="text" placeholder="Password" class="input-re">
      <input type="password" flex="80" type="text" placeholder="Re-type Password" class="input-re">
      <input type="button" value="SING UP" id="boton-sing" flex="80">
  </form>
  <div class="text-sing" layout="row" layout-align="center center" flex="80">OR REGISTER WITH A SOCIAL ACCOUNT</div>
  <a href="" layout="row" flex="80"><div id="boton-facebook" layout="row" layout-align="center center" flex="100">FACEBOOK</div></a>
  <div class="text-sing-2" layout="row" layout-align="center center" flex="80">Already have an account? Sign In</div>
</div>
