<div ng-show="toggleSearch" class="advanced-search-header" >

  <section layout="row" layout-aligin="space-between center">
    <div flex>
      <md-radio-group ng-model="group1">
        <md-radio-button class="search-by-price" value="Buscar por precio" class="md-primary">BUSCAR POR PRECIO</md-radio-button>
      </md-radio-group>
    </div>
    <div flex>
      <p layout="row" layout-align="space-between center">
        <span>{{minFee | currency:"$":0}}</span>
        <span>{{maxFee | currency:"$":0}}</span>
      </p>
      <md-slider class="slider-precios" ng-model="tourPrice" min="5" max="500"></md-slider>
      <p>{{tourPrice | currency:"$":0}}</p>
    </div>
  </section>

  <section>
    <md-select class="custom-select" ng-model="tourCategory" placeholder="Tipo">
          <md-option ng-repeat="category in toursCategories track by category.id" value="{{::category.id}}">{{::category.name}}</md-option>
    </md-select>
  </section>

  <section>
    <md-radio-group ng-model="group2" layout="row">
      <md-radio-button value="ADULTOS" class="md-primary">
        <i class="icon-adultos"></i> ADULTOS
      </md-radio-button>
      <md-radio-button value="FAMILIAR" class="md-primary">
        <i class="icon-familiar"></i> FAMILIAR
      </md-radio-button>
      <md-radio-button value="NIÑOS" class="md-primary">
        <i class="icon-ninos"></i> NIÑOS
      </md-radio-button>
    </md-radio-group>
  </section>

</div>
