<div class="main-sidebar" layout="row" hide-sm>
  <div class="main-sidebar-inner"  >
    <a class="main-sidebar-item" href="/resultados">
      <i class="icon-todos icon-desplegable"></i>
      <p>TODOS</p>
    </a>
    <% for(var i=0;i<meta.categories.length;i++){  %>
      <a class="main-sidebar-item <%= meta.req&&meta.req.category==meta.categories[i].id?"selected":"" %>" href="/resultados?category=<%= meta.categories[i].id %>">
        <i class="icon-<%= meta.categories[i].name_en.replace(' ','-').toLowerCase() %> icon-desplegable"></i>
        <p><%= meta.categories[i].name.toUpperCase() %></p>
      </a>
    <% } %>
  </div>
</div>
