<script type="text/javascript">
    var tour = <%- JSON.stringify(tour) %>;
    var similar_tours = <%- JSON.stringify(similar_tours) %>;
    var imgs_url = <%- JSON.stringify(imgs_url) %>;
</script>

<div id="detalle" class="tour-indiv container-max" layout="row" layout-md="column" layout-sm="column" ng-controller="tourCTL">

  <!--TOUR INFO-->
  <div class="tour-indiv-info" flex="75" flex-md="100" flex-sm="100">
    <div layout="row" layout-md="column" layout-sm="column" layout-wrap>

      <!--TOUR INFO (FIRST COLUMN)-->
      <div class="tour-details" id="detalles-tour" flex="70" flex-md="100" flex-sm="100" layout="column">

        <div class="tour-data" flex="30" layout="row" layout-sm="column" layout-align="space-between center">
          <div class="tour-data-column" flex="65" flex-sm="100">
            <h1>{{tour.name}}</h1>
            <h2><i class="icon-pin icon-ubicacion"></i> {{tour.location.name}}</h2>

            <!--<div class="like-detalle">
              <p>
                <i class="icon-corazon icon-ubicacion"></i>
                <strong>23</strong>
                <strong>Me gusta</strong>
              </p>
            </div>-->
          </div>
          <div class="tour-data-column" flex="25" flex-sm="100" >
            <div class="tour-data-item" layout="row" layout-align="start center" >
              <i class="icon-horario big-icon"></i>
              <div>
                <p><strong>Horario</strong></p>
                <p><strong>{{tourDuration}}</strong></p>
              </div>
            </div>
            <div ng-if="tour.categories.length > 0" class="tour-data-item" layout="row" layout-align="start center" >
              <i class="icon-{{::tour.categories[0].name_en | slugFilter}} big-icon"></i>
              <p><strong>{{::tour.categories[0].name}}</strong></p>
            </div>
          </div>
        </div>

        <div class="tour-slider-wrapper" flex="70" >
          <slick class="tour-slider" dots="true" arrows="false" autoplay="true" autoplaySpeed="4000" fade="true">
            <div
              ng-repeat="photo in galleryPhotos track by $index"
              ng-style="{'background-image': 'url('+photo+')'}"
              class="tour-slider-item" >
            </div>
          </slick>
        </div>

      </div>
      <!--END FIRST COLUMN TOUR INFO-->

      <!--TOUR INFO BOOKING (SECOND COLUMN)-->
      <div class="booking-partial-wrap" flex="30" flex-md="100" flex-sm="100">
        <form class="booking-partial booking-partial-absolute" method="post" id="reservar">
          <h3>RESERVA EL TOUR</h3>

          <!--INPUT FIELDS-->
          <!--<div layout="row" layout-align="end start">-->

          <div class="input-field-wrap">
            <md-datepicker ng-model="tour.date" md-placeholder="Fecha"></md-datepicker>
          </div>
          <div class="clear"></div>

          <div layout="row" layout-align="space-between center">
            <div flex="45">
              <div class="input-field-wrap" layout="row" layout-align="space-between center">
                <label flex>Adultos</label>
                <md-select flex placeholder="1" ng-model="tour.adults" ng-required>
                   <md-option value="1">1</md-option>
                   <md-option value="2">2</md-option>
                   <md-option value="3">3</md-option>
                   <md-option value="4">4</md-option>
                   <md-option value="5">5</md-option>
                   <md-option value="6">6</md-option>
                </md-select>
              </div>
            </div>
            <div flex="45">
              <div class="input-field-wrap" layout="row" layout-align="space-between center">
                <label flex>Niños</label>
                <md-select flex placeholder="1" ng-model="tour.kids" ng-required>
                   <md-option value="0">0</md-option>
                   <md-option value="1">1</md-option>
                   <md-option value="2">2</md-option>
                   <md-option value="3">3</md-option>
                   <md-option value="4">4</md-option>
                   <md-option value="5">5</md-option>
                   <md-option value="6">6</md-option>
                </md-select>
              </div>
            </div>
          </div>
          <div class="input-field-wrap" ng-if="tour.schedules.length > 0">
            <label>
              <i class="icon-horario highlight"></i> Horario:
            </label>
            <div >
              <md-select class="custom-select" ng-model="tour.schedule" ng-required name="schedule">
                <md-option value="{{schedule}}" ng-repeat="schedule in tour.schedules" ng-selected="$index == 0">from {{schedule.from | date:'HH:mm'}} to {{schedule.to | date:'HH:mm'}}</md-option>
              </md-select>
            </div>
          </div>

          <div class="input-field-wrap">
            <md-select placeholder="Hotel" class="select-posicion" ng-model="tour.hotel">
              <md-option ng-repeat="hotel in hotels" class="ng-cloak" >
                <i class="icon-hotel icono-option"></i> {{hotel.name}}
              </md-option>
            </md-select>
          </div>

          <div class="clear"></div>

          <!--END INPUT FIELDS-->


          <div class="precios-detalle">
            <p class="prices-value">
              <strong>({{tour.adults}})</strong> Precio por adulto {{tour.fee * tour.adults | currency}}
            </p>
            <p class="prices-value"  >
              <strong>({{tour.kids}})</strong> Precio por niño {{tour.feeChild * tour.kids | currency}}
            </p>
            <p class="prices-value">
              IVA $xxx
            </p>
            <section class="final-price-block">
              <p class="prices-value">
                <strong>TOTAL</strong>
              </p>
              <p class="prices-value">
                <span class="prices-value-total">{{getPrice() | currency}}</span>
              </p>

              <!--<input type="submit" class="boton-detalle" value="AÑADIR A MI CARRITO" >-->
              <a ng-click="addCartTour()" class="boton-detalle">AÑADIR A MI CARRITO</a>
            </section>
          </div>
        </form>
      </div>
      <!--END TOUR INFO (SECOND COLUMN)-->
    </div>

    <div layout="row" layout-md="column" layout-sm="column">
      <!--TOUR DESCRIPTION-->
      <div class="tour-description" flex="70" flex-md="100" flex-sm="100">
        <h3>Descripción</h3>
        <p ng-repeat="description in tour.description track by $index">{{description}} </p>
      </div>
      <!--END TOUR DESCRIPTION-->

      <div class="tour-map-wrap map-wrapper" flex="30" flex-md="100" flex-sm="100">
        <leaflet center="center"  markers="markers" layers="layers"></leaflet>
      </div>
    </div>

  </div>
  <!--END TOUR INFO-->

  <!--SIMILAR TOURS-->
  <div class="similar-tours" id="similares" flex="25" flex-md="100" flex-sm="100" >
    <h2>Tours similares</h2>
    <div class="s-tour cont-similares" layout="column" layout-align="center center" ng-repeat="tour_i in similar_tours">
      <!--<a ng-href="/detalle/{{tour_i.id}}" class="absolute-link"></a>-->
      <div
        ng-style="{'background-image': 'url('+tour_i.avatar1+')'}"
        class="s-tour-img">
      </div>
      <h4><a ng-href="/detalle/{{tour_i.id}}">{{tour_i.name}}</a></h4>
      <p>{{tour_i.location.name}}</p>
      <p class="s-tour-price">${{tour_i.fee}} <span>mxn</span> </p>
    </div>
  </div>
  <!--END SIMILAR TOURS-->

</div>
