<script type="text/javascript">
    var tour = <%- JSON.stringify(tour) %>;
    var rate_values = <%- JSON.stringify(rate_values) %>;
    var similar_tours = <%- JSON.stringify(similar_tours) %>;
    var imgs_url = <%- JSON.stringify(imgs_url) %>;
</script>

<div id="detalle" class="tour-indiv container-max" layout="row" layout-md="column" layout-sm="column" ng-controller="tourCTL">

  <!--TOUR INFO-->
  <div class="tour-indiv-info" flex="75" flex-md="100" flex-sm="100">
    <div layout="row" layout-md="column" layout-sm="column" layout-wrap>

      <!--TOUR INFO (FIRST COLUMN)-->
      <div class="tour-details" id="detalles-tour" flex="70" flex-md="100" flex-sm="100" layout="column">

        <div class="tour-data" flex="30" layout="row" layout-sm="column" layout-align="space-between center">
          <div class="tour-data-column" flex>
            <h1>
              <a ng-repeat="item in getSubcategories(tour.categories,'principal')" ng-href="/tours/{{item.url}}" target="_blank" >
                <i class="icon-{{::item.name_en | slugFilter}} big-icon"></i>
              </a>
               {{tour.name}}
             </h1>
            <div layout='row' class='tour-extra-data'>
              <div class='extra-item' ng-if="tour.duration" flex-initial><i class="icon-horario"> </i><strong>Duración:</strong> <strong>{{tourDurationFormatted}}</strong></div>
              <div class='extra-item' flex-initial><i class="icon-calendario"> </i><strong>Horario</strong> <strong>{{tourDuration}}</strong></div>
              <div class='extra-item' flex-initial></div>
            </div>
            <!--<h2><i class="icon-pin icon-ubicacion"></i> {{tour.location.name}}</h2>-->

            <!--<div class="like-detalle">
              <p>
                <i class="icon-corazon icon-ubicacion"></i>
                <strong>23</strong>
                <strong>Me gusta</strong>
              </p>
            </div>-->
          </div>
          <div class='' flex-initial>
            <i></i>
          </div>
        </div>

        <div class="tour-slider-wrapper" flex ><!--Erick cambio antes flex70-->
          <slick class="tour-slider" dots="true" arrows="false" autoplay="true" autoplaySpeed="4000" fade="true">
            <div
              ng-repeat="photo in galleryPhotos track by $index"
              ng-style="{'background-image': 'url('+photo+')'}"
              class="tour-slider-item" >
            </div>
          </slick>
        </div>

      </div>
      <!--END FIRST COLUMN TOUR INFO-->

      <!--TOUR INFO BOOKING (SECOND COLUMN)-->
      <div class="booking-partial-wrap" flex="30" flex-md="100" flex-sm="100">
        <form class="booking-partial booking-partial-absolute" method="post" id="reservar">
          <h3>RESERVA EL TOUR</h3>

          <!--INPUT FIELDS-->
          <!--<div layout="row" layout-align="end start">-->

          <div class="input-field-wrap">
            <i class='icon-calendario icon-inside'></i>
            <md-datepicker ng-model="tour.date" md-min-date="minDate" md-placeholder="Fecha"></md-datepicker>
          </div>
          <div class="clear"></div>

          <div layout="row" layout-align="space-between center">
            <div flex="45">
              <div class="input-field-wrap" layout="row" layout-align="space-between center">
                <label flex>Adultos</label>
                <md-select flex placeholder="1" ng-model="tour.adults" ng-required>
                   <md-option value="1">1</md-option>
                   <md-option value="2">2</md-option>
                   <md-option value="3">3</md-option>
                   <md-option value="4">4</md-option>
                   <md-option value="5">5</md-option>
                   <md-option value="6">6</md-option>
                </md-select>
              </div>
            </div>
            <div flex="45" ng-if="tour.feeChild">
              <div class="input-field-wrap" layout="row" layout-align="space-between center">
                <label flex>Niños</label>
                <md-select flex placeholder="1" ng-model="tour.kids" ng-required>
                   <md-option value="0">0</md-option>
                   <md-option value="1">1</md-option>
                   <md-option value="2">2</md-option>
                   <md-option value="3">3</md-option>
                   <md-option value="4">4</md-option>
                   <md-option value="5">5</md-option>
                   <md-option value="6">6</md-option>
                </md-select>
              </div>
            </div>
          </div>
          <div class="input-field-wrap" ng-if="tour.schedules.length > 0">
              <i class="icon-horario icon-inside"></i>
              <md-select class="" ng-model="tour.schedule" ng-required name="schedule">
                <md-option value="{{schedule}}" ng-repeat="schedule in tour.schedules" ng-selected="$index == 0">De {{schedule.from | date:'HH:mm'}} a {{schedule.to | date:'HH:mm'}}</md-option>
              </md-select>
          </div>

          <div ng-if="tour.haveTranslate" class="input-field-wrap">
            <md-checkbox class="md-primary" ng-model="tour.transfer" aria-label="">
              <i class='icon-transporte'></i> Agregar transportación
            </md-checkbox>
            <div class='hotel-select' ng-hide="!tour.transfer" layout='row' layout-align='center center'>
              <span><i class='icon-pin'></i>Hotel</span>
              <span flex></span>
              <span><md-autocomplete
                class="custom-autocomplete"
                md-no-cache="false"
                md-selected-item="tour.hotel"
                md-search-text="tour.searchText"
                md-items="item in hotels|filter:{name : tour.searchText}:false"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="">
                <md-item-template>
                  <span md-highlight-text="tour.searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No se encontraron resultados para: "{{tour.searchText}}".
                </md-not-found>
              </md-autocomplete></span>
            </div>
            <!--<md-select ng-hide="!tour.transfer" placeholder="Hotel" class="select-posicion" ng-model="tour.hotel">
              <md-option ng-repeat="hotel in hotels" class="ng-cloak" >
                <i class="icon-hotel icono-option"></i> {{hotel.name}}
              </md-option>
            </md-select>-->
          </div>

          <div class="clear"></div>

          <!--END INPUT FIELDS-->
          <div class="precios-detalle">
            <p class="prices-value">
              <strong>({{tour.adults}})</strong> Precio por adulto {{getPriceAdults(tour) | currency}}
            </p>
            <p class="prices-value" ng-if="tour.kids > 0" >
              <strong>({{tour.kids}})</strong> Precio por niño {{getPriceKids(tour) | currency}}
            </p>
            <section class="final-price-block">
              <p class="prices-value">
                <strong>TOTAL</strong>
              </p>
              <p class="prices-value">
                <span class="prices-value-total">{{getPrice(tour) | currency}} {{global_currency.currency_code | uppercase}}</span>
              </p>

              <!--<input type="submit" class="boton-detalle" value="AÑADIR A MI CARRITO" >-->
              <a ng-click="addCartTour()" class="boton-detalle">AÑADIR A MI CARRITO</a>
            </section>
          </div>
        </form>
      </div>
      <!--END TOUR INFO (SECOND COLUMN)-->
    </div>

    <div layout="row" layout-md="column" layout-sm="column">
      <!--TOUR DESCRIPTION-->
      <div class="tour-description" flex="70" flex-md="100" flex-sm="100">
        <!--<perfect-scrollbar class="tour-description-scroller" wheel-propagation="true" wheel-speed="15" min-scrollbar-length="10">-->
          <div class="tour-description-inner container-smd">
            <div class='row-categories' ng-if="getSubcategories(tour.categories,'rate').length>0">
              <h4>Rangos</h4>
              <div layout="row" >
                <div class='row-category' flex-initial ng-repeat="item in getSubcategories(tour.categories,'rate')">
                  <p>
                    <i class="blueText icon-{{getCategoryIcon(item)}} big-icon"></i>
                    <strong>{{ ::item.name }}</strong>:
                    <strong>{{ getRateValue(item) }}</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class='row-categories' ng-if="getSubcategories(tour.categories,'sub').length>0">
              <h4>Categorias del Tour</h4>
              <div layout="row" >
                <div class='row-category' flex-initial ng-repeat="item in getSubcategories(tour.categories,'sub')">
                  <p><i class="blueText icon-{{getCategoryIcon(item)}} big-icon"></i>
                  <strong>{{::item.name}}</strong></p>
                </div>
              </div>
            </div>
            <h3>Descripción</h3>
            <p ng-repeat="description in tour.description track by $index">{{description}} </p>
            <div class="tour-includes">
              <div class="tour-include-block">
                <h4>
                  <span class="tour-include-icon">&#10003;</span> Incluye
                </h4>
                <ul>
                  <li ng-repeat="include in tour.includesList">{{include}}</li>
                </ul>
              </div>
              <div ng-if="tour.notIncludesList.length > 0" class="tour-include-block">
                <h4>
                  <span class="tour-include-icon">&#x2715;</span> No incluye
                </h4>
                <ul>
                  <li ng-repeat="include in tour.notIncludesList">{{include}}</li>
                </ul>
              </div>
              <div ng-if="tour.recommendations_es" class="tour-include-block">
                <h4>
                  <span class="tour-include-icon"><i class="icon-populares"></i></span> Recomendaciones
                </h4>
                <p>{{::tour.recommendations_es}}</p>
              </div>
              <!--<div class="tour-include-block">
                <h4>
                  <span class="tour-include-icon"><i class="icon-transporte"></i></span> Transportación no incluida
                </h4>
              </div>-->
            </div>
          </div>
        <!--</perfect-scrollbar>-->
      </div>
      <!--END TOUR DESCRIPTION-->

      <div class="tour-map-wrap map-wrapper" flex="30" flex-md="100" flex-sm="100">
      <div class="hotel-search">
        <div class="hotel-search-label">
          <a><strong> Los lugares marcados representan el lugar de salida del tour.</strong></a>
        </div>
      </div>
        <leaflet center="center"  markers="markers" layers="layers"></leaflet>
      </div>
    </div>

  </div>
  <!--END TOUR INFO-->

  <!--SIMILAR TOURS-->
  <div class="similar-tours" id="similares" flex="25" flex-md="100" flex-sm="100" >
    <h2>Tours similares <br> <span class='icon-flecha'></span></h2>
    <div class="s-tour cont-similares" layout="row" layout-align="center end" ng-repeat="tour_i in similar_tours">
      <!--<a ng-href="/tour/{{tour_i.id}}" class="absolute-link"></a>-->
      <span ng-style="{'background-image': 'url('+tour_i.avatar3+')'}"
        class="s-tour-img">
      </span>
      <a href="/tour/{{tour_i.url}}" class='absolute-link'></a>
      <a href="/tour/{{tour_i.url}}" class='gradient'></a>
      <div class="s-tour-data" flex>
        <p><i ng-repeat="item in getSubcategories(tour_i.categories,'principal') | limitTo:1" class="icon-{{::item.name_en | slugFilter}} big-icon"></i></p>
        <h4><a ng-href="/tour/{{tour_i.url}}">{{tour_i.name}}</a></h4>
        <!--<p>{{tour_i.location.name}}</p>-->
        <p class="s-tour-price">{{getPrice(tour_i) | currency}} <span>{{global_currency.currency_code | uppercase}}</span> </p>
        <p><a class='action-btn-white' href="/tour/{{tour_i.url}}">Reservar</a></p>
      </div>
    </div>
  </div>
  <!--END SIMILAR TOURS-->

</div>
