<!DOCTYPE html>
<html ng-app="water-tours">
  <head>
    <title>Water Tours</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/animation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/owl.theme.css">
    <link rel="stylesheet" href="/styles/owl.transitions.css">
    <link rel="stylesheet" href="/styles/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
<div id="header" layout="row" flex="100" layout-align="space-between center" layout-wrap >
    <div class="menu-busc" flex="35" flex-md="100" flex-sm="100" layout="row" layout-align="start center" layout-align-sm="space-around center" layout-align-md="space-around center" >
      <div id="menu" layout="column" layout-align="center center">
        <div class="linea-menu"></div>
        <div class="linea-menu"></div>
        <div class="linea-menu"></div>
      </div>
      <input placeholder="  Buscar" type="text" class="input-header input-busqueda" >
      <i class="icon-buscador icon-header input-busqueda" ></i>
      <a href="" layout="row" layout-align="center center" flex class="text-header"  >
        <div >BÚSQUEDA AVANZADA</div>
      </a>
    </div>
    <div class="menu-logo" flex="20" flex-md="100" flex-sm="100" layout="row" layout-align="start center" layout-align-sm="center center" layout-align-md="center center" >
      <a href="/home"><img id="logo" src="images/watertourslogo.png" alt=""></a>
    </div>
    <div class="menu-usua" flex="25" flex-md="100" flex-sm="100" layout="row" layout-align="end center" layout-align-sm="space-around center" layout-align-md="space-around center" >
      <a href=""><div id="img-perfil"></div></a>
      <a href=""><div class="text-prefil">Mi cuenta</div></a>
      <a href=""><div class="text-prefil">registro</div></a>
      <a href="/reserva" id="icon-carrito" ><i class="icon-carrito icon-carrito"></i></a>
      <a href=""> <div id="login" layout="row" layout-align="center center" >LOGIN</div></a>
    </div>
</div>


<div id="cont-sub-header" flex="100" layout="row" layout-wrap >
 <div id="buscar-avanzado-header" class="ng-cloak ng-hide"  layout="row" layout-align="center center" layout-wrap >
  <div flex="90" layout="row" layout-align="space-between center" class="cont-avanzada">
    <div class="cont-buscar-precio" layout="row" layout-align="start center" flex="45" >
      <div id="apuntador-avanzado" layout="row" layout-align="center center" ng-click="apuntadorVisibility = !apuntadorVisibility" >
        <div class="apuntador-avanzado" ng-show="apuntadorVisibility " ></div>
      </div>
      <div class="text-buscar-a">Buscar por precio</div>
    </div>
    <div class="slide-precio" layout="column" layout="start center" flex="40">
      <div class="rango-precios" layout="row" layout-align="space-between center" >
        <div class="precios-a">$0</div>
        <div class="precios-a">$12,000</div>
      </div>
      <md-slider class="slider-precios" ng-model="myValue" min="5" max="500"></md-slider>
      <div class="rango-precios" layout="row" layout-align="space-between center" >
        <div class="precios-b">-</div>
        <div class="precios-b">+</div>
      </div>
    </div>
  </div>
  <div id="select-header" flex="90" layout="row" layout-align="space-around center" class="cont-avanzada">
    <select class="select-header">
      <option value=""><h6 class="option">Tour</h6></option>
      <option value=""><h6 class="option">Aventura</h6></option>
      <option value=""><h6 class="option">Hotel</h6></option>
    </select>
  </div>
  <div flex="95" layout="row" layout-align="space-around center" class="cont-avanzada">
    <div class="cont-adutos-avanzado" flex="30" layout="row" layout-align="space-around center">
      <i class="icon-adultos icon-buscar dos "></i>
      <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="adultosVisibility = !adultosVisibility" >
        <div class="apuntador-avanzado" ng-show="adultosVisibility " ></div>
      </div>
      <div class="text-adultos">Adultos</div>
    </div>
    <div class="cont-adutos-avanzado" flex="30" layout="row" layout-align="space-around center">
      <i class="icon-familiar icon-buscar"></i>
      <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="familiaVisibility = !familiaVisibility" >
        <div class="apuntador-avanzado" ng-show="familiaVisibility " ></div>
      </div>
      <div class="text-adultos">familiar</div>
    </div>
    <div class="cont-adutos-avanzado" flex="30" layout="row" layout-align="space-around center">
      <i class="icon-ninos icon-buscar dos "></i>
      <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="ninosVisibility = !ninosVisibility" >
         <div class="apuntador-avanzado" ng-show="ninosVisibility " ></div>
      </div>
      <div class="text-adultos">niños</div>
    </div>
    <!--<i class="icon-adultos icon-buscar dos "></i>
    <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="adultosVisibility = !adultosVisibility" >
        <div class="apuntador-avanzado" ng-show="adultosVisibility " ></div>
    </div>
    <div class="text-adultos">Adultos</div>
    <i class="icon-familiar icon-buscar"></i>
    <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="familiaVisibility = !familiaVisibility" >
        <div class="apuntador-avanzado" ng-show="familiaVisibility " ></div>
    </div>
    <div class="text-adultos">familiar</div>
    <i class="icon-ninos icon-buscar dos "></i>
    <div id="apuntador-avanzado" class="dos" layout="row" layout-align="center center" ng-click="ninosVisibility = !ninosVisibility" >
        <div class="apuntador-avanzado" ng-show="ninosVisibility " ></div>
    </div>
    <div class="text-adultos">niños</div>-->
  </div>
</div>

<div id="buscar-header" class="ng-cloak ng-hide" layout="row" layout-align="center center" layout-wrap >
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar uno"></div>
    <div class="titulo-buscar">Tour Xcaret</div>
  </div>
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar dos"></div>
    <div class="titulo-buscar">Tour Xplor</div>
  </div>
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar tres"></div>
    <div class="titulo-buscar">Tour Xel Ha Todo incluido</div>
  </div>
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar cuatro"></div>
    <div class="titulo-buscar">Jungle Tour "sunrise Marina"</div>
  </div>
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar cinco"></div>
    <div class="titulo-buscar">Jungle Tour Xenotes</div>
  </div>
  <div class="buscar-header" flex="100" layout="row" layout-align="start center" >
    <div class="imagen-buscar seis"></div>
    <div class="titulo-buscar">Tour de Esnorquel en Cozumel</div>
  </div>
</div>

<div id="cont-menu" layout="row" layout-align="start start" layout-wrap class="ng-cloak ng-hide alto" hide-gt-sm>
  <div class="cont-menu" flex="100" layout="row" layout-align="start start" layout-wrap >
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu">
        <i class="icon-aventura icon-desplegable"></i> 
        <div class="text-menu">AVENTURA</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu viajes">
         <i class="icon-viajes icon-desplegable viajes"></i>
         <div class="text-menu viajes">VIAJES</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu"> 
        <i class="icon-buceo icon-desplegable"></i> 
        <div class="text-menu">BUCEO</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu"> 
        <i class="icon-snorkel icon-desplegable"></i> 
        <div class="text-menu">SNORKEL</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu">
       <i class="icon-pesca icon-desplegable"></i> 
       <div class="text-menu viajes">PESCA</div>
      </div>
    </a>    
  </div>
 </div>

</div><!--cont-sub-header-->
  </head>

  <body>
  <div id="cont-global" layout="row" flex="100" >
  <div id="cont-menu-1" layout="row" layout-align="start start" layout-wrap class="ng-cloak alto" hide-sm>
  <div class="cont-menu" flex="100" layout="row" layout-align="start start" layout-wrap >
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu">
        <i class="icon-aventura icon-desplegable"></i> 
        <div class="text-menu">AVENTURA</div>
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu viajes">
         <i class="icon-viajes icon-desplegable viajes"></i>
         <div class="text-menu viajes">VIAJES</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu"> 
        <i class="icon-buceo icon-desplegable"></i> 
        <div class="text-menu">BUCEO</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu"> 
        <i class="icon-snorkel icon-desplegable"></i> 
        <div class="text-menu">SNORKEL</div> 
      </div>
    </a>
    <a href="/resultados" flex="100" layout="row" layout-align="center center" >
      <div flex="100" layout="column" layout-align="center center" class="enlace-menu en-menu">
       <i class="icon-pesca icon-desplegable"></i> 
       <div class="text-menu viajes">PESCA</div>
      </div>
    </a>    
  </div>
 </div>
    <%- body %>
  </div>
<div ng-include="'/templates/global/footer.ejs'" layout='row'></div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/hammerjs/hammer.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/headerController.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/funciones.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/toucheffects.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
