<div class="ng-cloak" layout="row" layout-align="center center" layout-wrap ng-controller="Search">
  <div class="cont-buscar-header ng-cloak " layout="row" layout-align="center center" layout-wrap >
    <div class="buscar-header" flex="100" layout="row" layout-align="start center" ng-repeat="tour in tours">
      <div class="imagen-buscar" ng-style="{
                        'background-image': 'url({{tour.avatar2}})',
                        'background-repeat':'no-repeat',
                        'background-position':'center',
                        'background-size': 'cover'
                    }"></div>
      <div class="titulo-buscar">{{tour.name}}</div>
    </div>
  </div>
</div>