<div id="footer" flex="100" layout="row" layout-align="space-between center" layout-align-sm="center center" layout-align-md="center center" layout-wrap>
	<div flex="20" flex-sm="100" flex-md="100" layout="row" layout-align="center center" class="cont-footer"><a href="/home"><img id="logo" src="images/water.png" alt=""></a></div>
	<div flex="35" flex-sm="100" flex-md="100" layout="row" layout-sm="column" layout-align="space-between center" layout-align-md="space-around center" layout-align-sm="space-around center" class="cont-footer">
		<a href=""><div class="enlace-footer">QUIENES SOMOS</div></a>
		<a href=""><div class="enlace-footer">PREGUNTAS FRECUENTES</div></a>
		<a href=""><div class="enlace-footer">AVISO DE PRIVACIDAD</div></a>
	</div>
	<div flex="20" flex-sm="50" flex-md="50" layout="row" layout-align="space-around center" class="cont-footer">
		<img id="logo" src="images/tarjetas.png" alt="">
		<a href=""><i class="icon-face redes-face"></i></a>
		<a href=""><i class="icon-twit redes-twit"></i></a>
	</div>
</div>
