<div id="footer" flex="100" layout="row" layout-align="center center" layout-wrap>
	<!--<div flex="20" flex-sm="100" flex-md="100" layout="row" layout-align="center center" class="cont-footer"><a href="/home"><img id="logo" src="images/water.png" alt=""></a></div>
	<div flex="35" flex-sm="100" flex-md="100" layout="row" layout-sm="column" layout-align="space-between center" layout-align-md="space-around center" layout-align-sm="space-around center" class="cont-footer">
		<a href=""><div class="enlace-footer">QUIENES SOMOS</div></a>
		<a href=""><div class="enlace-footer">PREGUNTAS FRECUENTES</div></a>
		<a href=""><div class="enlace-footer">AVISO DE PRIVACIDAD</div></a>
	</div>
	<div flex="20" flex-sm="50" flex-md="50" layout="row" layout-align="space-around center" class="cont-footer">
		<img id="logo" src="images/tarjetas.png" alt="">
		<a href=""><i class="icon-face redes-face"></i></a>
		<a href=""><i class="icon-twit redes-twit"></i></a>
	</div>-->
	<div class="cont-footer" layout="row" layout-align="center center" layout-wrap flex="95">
		<div layout="row" layout-align="center center" class="cont-footer-en" flex="10" flex-md="100" flex-sm="100" >
			<a href="/home"><img  src="images/water.png" alt=""></a>
		</div>
		<div layout="row"  class="cont-footer-en borde" flex="10" flex-md="15" flex-sm="25" >
			<div class="cont-enlaces" layout="column" flex layout-align="space-between start" layout-align-md="start center" layout-align-sm="start center">
				<a href="/detalle"><div class="enlace-footer hover">Aventura</div></a>
				<a href="/detalle"><div class="enlace-footer hover">Viajes</div></a>
				<a href="/detalle"><div class="enlace-footer hover">Buceo</div></a>
				<a href="/detalle"><div class="enlace-footer hover">Snorkel</div></a>
				<a href="/detalle"><div class="enlace-footer hover">Pesca</div></a>
			</div>
			<div class="deg-footer"></div>
			<!--<a href="/detalle"><div class="enlace-footer">Aventura</div></a>
			<a href="/detalle"><div class="enlace-footer">Viajes</div></a>
			<a href="/detalle"><div class="enlace-footer">Buceo</div></a>
			<a href="/detalle"><div class="enlace-footer">Snorkel</div></a>
			<a href="/detalle"><div class="enlace-footer">Pesca</div></a>-->
		</div>
		<div layout="row" class="cont-footer-en borde" flex="15" flex-md="25" flex-sm="45"  >
			<div class="cont-enlaces" layout="column" flex layout-align-md="start center" layout-align-sm="start center">
				<a href=""><div class="enlace-footer hover">Quienes somos</div></a>
				<a href=""><div class="enlace-footer hover">Preguntas frecuentes</div></a>
				<a href=""><div class="enlace-footer hover">Aviso de privacidad</div></a>
			</div>
			<div class="deg-footer"></div>
			<!--<a href="/"><div class="enlace-footer">Quienes somos</div></a>
			<a href="/"><div class="enlace-footer">Preguntas frecuentes</div></a>
			<a href="/"><div class="enlace-footer">Aviso de privacidad</div></a>-->
		</div>
		<div layout="row" class="cont-footer-en borde" flex="10" flex-md="15" flex-sm="25" >
			<div class="cont-enlaces" layout="column" flex layout-align-md="start center" layout-align-sm="start center">
				<a href=""><div class="enlace-footer hover">Registro</div></a>
				<a href=""><div class="enlace-footer hover">Login</div></a>
				<a href="/cuenta"><div class="enlace-footer hover">Mi cuenta</div></a>
			</div>
			<div class="deg-footer"></div>
			<!--<div class="enlace-footer">Registro</div>
			<div class="enlace-footer">Login</div>
			<div class="enlace-footer">Mi cuenta</div>-->
		</div>
		<div layout="column" class="cont-footer-en contacto" flex="30" flex-md="60" flex-sm="85" layout-align-md="center center" layout-align-sm="center center">
			<div class="enlace-footer bold">CONTACTO</div>
			<div class="enlace-footer">Avenida Bonampak Calle Cereza # 1 SM 2A</div>
			<div class="enlace-footer">L 20 CP 77500 Cancun Quintana Roo, Mexico</div>
			<div class="enlace-footer bold">+(998) 2.54.03.47</div>
			<a href=""><div class="enlace-footer bold">info@watertours.com</div></a>
		</div>
		<div layout="" layout-align="" flex="20" flex-md="60" flex-sm="100" layout-wrap >
			<div class="redes-footer" flex="100" flex-md="50" flex-sm="50" layout="row" layout-align="start center" layout-align="start center" layout-align-md="center center" layout-align-sm="center center">
				<img class="img-footer" src="images/pay-fo.png">
				<img class="img-footer" src="images/mas-fo.png">
				<img class="img-footer" src="images/visa-fo.png">
			</div>
			<div class="redes-footer" flex="60" flex-md="50" flex-sm="50" layout="row" layout-align="start center" layout-align-md="center center" layout-align-sm="center center">
				<a href=""><div class="redes-f-t-i" layout="row" layout-align="center center" ><i class="icon-face"></i></div></a>
				<a href=""><div class="redes-f-t-i" layout="row" layout-align="center center" ><i class="icon-twit"></i></div></a>
				<a href=""><div class="redes-f-t-i" layout="row" layout-align="center center" ><i class="icon-instagram icon-footer"></i></div></a>
			</div>
		</div>
	</div>
</div>