<div id="header" layout="row" flex="100" layout-align="space-between center" layout-wrap >
	<div class="menu-busc" flex="30" flex-md="40" flex-sm="100" layout="row" layout-align="start center" layout-align-sm="space-around center" >
		<div id="menu" layout="column" layout-align="center center" >
			<div class="linea-menu"></div>
			<div class="linea-menu"></div>
			<div class="linea-menu"></div>
		</div>
		<input type="text" class="input-header">
		<i class="icon-buscador icon-header "></i>
		<div class="text-header">BÚSQUEDA AVANZADA</div>
	</div>
	<div class="menu-logo" flex="20" flex-md="20" flex-sm="100" layout="row" layout-align="start center" layout-align-sm="center center" >
		<img id="logo" src="images/watertourslogo.png" alt="">
	</div>
	<div class="menu-usua" flex="20" flex-md="40" flex-sm="100" layout="row" layout-align="end center" layout-align-sm="space-around center" >
		<div id="img-perfil"></div>
		<div class="text-prefil">Mi cuenta</div>
		<div class="text-prefil">registro</div>
		<i class="icon-carrito icon-carrito"></i>
		<div id="login" layout="row" layout-align="center center" >LOGIN</div>
	</div>
</div>