<div ng-controller="StaticPagesCTL">
  <section flex flex-md="100" flex-sm="100" class="container-xlg faqContainer">
    <h3>AVISO DE PRIVACIDAD</h3>
    <div class='columns'>
      <p>Cancún Water Tours,  con domicilio en Calle Cereza 1 SM 2A Mza 11, en la ciudad de Cancún, Quintana Roo, es responsable del tratamiento de sus datos personales.</p>
      <p>Su información personal será utilizada para proveer los servicios que le ofrecemos, informarle sobre cambios o nuevos productos o servicios; y evaluar la calidad del servicio.</p>
      <p>Para los fines antes mencionados, requerimos obtener los siguientes datos personales: Nombre, Lugar de hospedaje, número de clientes); considerando que no solicitaremos datos personales catalogados como sensible según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
      <p>En cualquier tiempo podrá ejercitar su derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos y los requisitos implementados, para lo cual puede ponerse en contacto con nuestro departamento de datos personales a través del correo electrónico <a href="mailto:info@cancunwatertours.com">info@cancunwatertours.com</a>.</p>
      <p>Asimismo, le informamos que sus datos pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a esta empresa. En ese sentido, su información puede ser compartida con diversos prestadores de servicios como personas físicas o morales con quienes tenemos algún tipo de relación jurídica o de negocios, para proveer los servicios solicitados por usted.</p>
      <p>Si no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que nos ha otorgado su consentimiento.</p>

      <h2>PROCEDIMIENTO DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN DE DATOS</h2>
      <p>De conformidad con el Capítulo IV de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, se pone a disposición del público en general el procedimiento para el acceso, rectificación, cancelación u oposición de datos personales. </p>
      <p><strong>A.</strong> El titular de los datos personales podrá solicitar a esta empresa en cualquier momento el acceso, rectificación, cancelación u oposición respecto de los datos que le conciernen, mediante una solicitud por escrito que deberá contener y acompañar, al menos, lo siguiente:</p>
      <ul>
        <li>I. El nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud (correo electrónico, fax, etc.).</li>
        <li>II. Los documentos que acrediten la identidad o, en su caso, la representación legal del titular.</li>
        <li>III. La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados.</li>
        <li>IV. Cualquier otro elemento o documento que facilite la localización de los datos personales.</li>
      </ul>
      <p><strong>B.</strong> En el caso de solicitudes de rectificación de datos personales, el titular deberá indicar, además de lo señalado anteriormente, las modificaciones a realizarse y aportar la documentación que sustente su petición.</p>
      <p><strong>C.</strong> La empresa comunicará al titular, en un plazo máximo de veinte días, contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la determinación adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los quince días siguientes a la fecha en que se comunica la respuesta. Tratándose de solicitudes de acceso a datos personales, procederá la entrega previa acreditación de la identidad del solicitante o representante legal, según corresponda. Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso.</p>
      <p><strong>D.</strong> La obligación de acceso a la información se dará por cumplida cuando se pongan a disposición del titular los datos personales; o bien, mediante la expedición de copias simples, documentos electrónicos o cualquier otro medio que determine la empresa en el aviso de privacidad. En el caso de que el titular solicite el acceso a los datos a la empresa que presume es el responsable y ésta resulta no serlo, bastará con que así se le indique al titular por cualquiera de los medios a que se refiere el párrafo anterior, para tener por cumplida la solicitud.</p>
      <p><strong>E.</strong> La empresa podrá negar el acceso a los datos personales, o a realizar la rectificación o cancelación o conceder la oposición al tratamiento de los mismos, en los siguientes supuestos:</p>
      <ul>
        <li>I. Cuando el solicitante no sea el titular de los datos personales, o el representante legal no esté debidamente acreditado para ello.</li>
        <li>II. Cuando en la base de datos no se encuentren los datos personales del solicitante.</li>
        <li>III. Cuando se lesionen los derechos de un tercero.</li>
        <li>IV. Cuando exista un impedimento legal, o la resolución de una autoridad competente, que restrinja el acceso a los datos personales, o no permita la rectificación, cancelación u oposición de los mismos.</li>
        <li>V. Cuando la rectificación, cancelación u oposición haya sido previamente realizada.</li>
      </ul>
      <p>La negativa a que se refiere este inciso podrá ser parcial en cuyo caso la empresa efectuará el acceso, rectificación, cancelación u oposición requerida por el titular. En todos los casos anteriores, la empresa informará el motivo de su decisión y comunicará al titular, o en su caso, al representante legal, en los plazos establecidos para tal efecto, por el mismo medio por el que se llevó a cabo la solicitud, acompañando, en su caso, las pruebas que resulten pertinentes.</p>
      <p><strong>F.</strong> La entrega de los datos personales será gratuita, debiendo cubrir el titular únicamente los gastos justificados de envío o con el costo de reproducción en copias u otros formatos. Dicho derecho se ejercerá por el titular en forma gratuita, previa acreditación de su identidad ante la empresa. No obstante, si la misma persona reitera su solicitud en un periodo menor a doce meses, los costos no serán mayores a tres días de Salario Mínimo General Vigente en el Distrito Federal, a menos que existan modificaciones sustanciales al aviso de privacidad que motiven nuevas consultas. El titular podrá presentar una solicitud de protección de datos por la respuesta recibida o falta de respuesta del responsable. Para atender cualquier duda, comentario, sugerencia u opinión respecto de nuestro aviso de privacidad y el procedimiento para el acceso, rectificación, cancelación u oposición de sus datos personales, dejamos a su disposición nuestro correo electrónico: <a href="mailto:info@cancunwatertours.com">info@cancunwatertours.com</a>, donde con gusto estamos para servirle. Gracias por su atención y preferencia.
      </p>
    </div>
  </section>
</div>
