<div id="detalle" flex layout="row" layout-align="end end" layout-align-md="center center" layout-align-sm="center center" layout-wrap>
	<div id="cont-detalle" flex="80" flex-md="100" flex-sm="100" layout="row" layout-align="start start" layout-wrap>
		<div id="detalles-tour" flex="70" flex-md="100" flex-sm="100" layout="row" layout-alig="start start" layout-wrap >
			<div class="detalles-tour" layout="row" flex="100" layout-align="end center">
				<div class="cont-detalles" flex="65" layout-align="center start" layout="column" >
					<div class="nombre-detalle">Tour de Snorkel con Tortugas Marinas</div>
					<div class="ubicacion-detalle" layout="row" layout-align="center center"> 
						<i class="icon-pin icon-ubicacion"></i> 
						<div class="text-ubi">Ubicacion del Tour</div>
					</div>
					<div class="like-detalle" layout="row" layout-align="center center">
						<i class="icon-corazon icon-ubicacion"></i> 
						<div class="num-like">23</div>
						<div class="text-like">Me gusta</div>
					</div>
				</div>
				<div class="cont-detalles" flex="25" flex-sm="30" layout-align="center start" layout="row" layout-wrap >
					<div class="cont-detalles-horario" flex="100" layout="row" layout-align="start center" >
						<i class="icon-horario icono-horario"></i> 
						<div class="hora-duracion" layout="column">
							<div class="duracion">Horario o Duración</div>
							<div class="duracion hora">9am - 10pm</div>
						</div>
					</div>
					<div class="cont-detalles-horario" flex="100" layout="row" layout-align="start center" >
						<i class="icon-familiar icono-horario"></i>
						<div class="text-horario">Atracción Familiar</div>  
					</div>
					<!--<div class="horario-detalle" layout="arow" layout-align="center start" > 
						<i class="icon-horario icono-horario"></i> 
						<div class="hora-duracion" layout="column">
							<div class="duracion">Horario o Duración</div>
							<div class="duracion">9am - 10pm</div>
						</div>
					</div>
					<div class="horario-detalle" layout="arow" layout-align="center start" > 
						<i class="icon-familiar icono-horario"></i>
						<div class="text-horario">Atracción Familiar</div>  
					</div>-->
				</div>
			</div>
			<div class="cont-imagen-detalle" flex="100" layout="row" >
				<div class="imagen-detalle item" flex="100" layout="row" ></div>
				<div class="imagen-detalle item" flex="100" layout="row" ></div>
				<div class="imagen-detalle item" flex="100" layout="row" ></div>
				<div class="imagen-detalle item" flex="100" layout="row" ></div>
			</div>
			<div class="descripcion-detalle" flex="100" layout="row" layout-align="center center">
				<div class="cont-descripcion" flex="80" flex-sm="90" layout="column" layout-align="center start">
					<div class="titulo-descripcion">Descripción This is Photoshop's</div>
					<p class="p-descripcion">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
				</div>
			</div>
		</div>
		<div id="reservar-mapa" flex="30" flex-md="100" flex-sm="100" layout="row" layout-align="start start" layout-wrap >
			<form method="post" id="reservar" flex="100" layout="column" layout-align="start center">
				<div id="reservar-titulo">RESERVA EL TOUR</div>
				<div class="fecha-detalle" layout="row" layout-align="start center" ng-click="fechaVisiblity = !fechaVisiblity" >
					<i class="icon-calendario icono-calendario"></i>
					<div class="text-fecha">Fecha</div>
				</div>
				<div class="fecha-reserva" ng-controller="DatepickerDemoCtrl" ng-show="fechaVisiblity" >
							<p class="input-group">
	              				<input type="date" class="form-control ng-pristine ng-untouched ng-valid" datepicker-popup="" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
	            			</p>
						</div>
				<div class="ninos-adultos" layout="row" layout-align="space-between center">
					<div class="ninos-text">Adultos</div>
					<md-select placeholder="0" class="select-adultos" ng-model="someVal">
						 <md-option value="1">1</md-option>
						 <md-option value="2">2</md-option>
						 <md-option value="3">3</md-option>
						 <md-option value="4">4</md-option>
						 <md-option value="5">5</md-option>
						 <md-option value="6">6</md-option>
					</md-select>
					<div class="ninos-text">Niños</div>
					<md-select placeholder="0" class="select-adultos" ng-model="someVal">
						 <md-option value="1">1</md-option>
						 <md-option value="2">2</md-option>
						 <md-option value="3">3</md-option>
						 <md-option value="4">4</md-option>
						 <md-option value="5">5</md-option>
						 <md-option value="6">6</md-option>
					</md-select>
				</div>
				<md-select placeholder="0" class="select-posicion" ng-model="someVal">
						 <md-option value="1" class="ng-cloak" > <i class="icon-hotel icono-option"></i> Hotel donde estoy</md-option>
						 <md-option value="2" class="ng-cloak" > <i class="icon-hotel icono-option"></i> Hotel donde estoy</md-option>
						 <md-option value="3" class="ng-cloak" > <i class="icon-hotel icono-option"></i> Hotel donde estoy</md-option>
				</md-select>
				<div id="precios-detalle" layout="row" layout-wrap layout-align="start center" >
					<div class="precio-adulto" flex="100" layout="row" layout-align="end center"  >
						<div class="contador">(5)</div> Precio por adulto $xxx
					</div>
					<div class="precio-adulto" flex="100" layout="row" layout-align="end center"  >
						<div class="contador">(3)</div> Precio por niño $xxx
					</div>
					<div class="precio-adulto" flex="100" layout="row" layout-align="end center"  >
						IVA $xxx
					</div>
					<div class="precio-adulto" flex="100" layout="row" layout-align="end center"  >
						<div class="contador total">TOTAL</div> 
					</div>
					<div class="precio-adulto" flex="100" layout="row" layout-align="end center"  >
						<div class="precio-total-tour">$4,250</div> 
					</div>
					
						<input type="button" class="boton-detalle" value="AÑADIR A MI CARRITO" >
				
				</div>
			</form>
			<div id="mapa" class="alto-mapa" flex="100">
				<iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14882.706519277925!2d-86.81700335!3d21.1652635!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1429728579438" width="600" height="450" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>
	<div hide-sm id="similares" flex="20" flex-md="100" flex-sm="100" layout="column" layout-sm="row" layout-md="row" layout-align-md="space-around center" layout-align-sm="space-around center" layout-align="start center" layout-wrap>
		<div id="text-similares" flex-sm="100" layout-sm="row" layout-md="row" layout-align="center center" flex-md="100" >Tours similares</div>
		<div class="cont-similares" layout="column" layout-align="center center">
			<div class="imagen-similares-1"></div>
			<div class="nombre-similares">Tour Capitan Hook</div>
			<div class="lugar-similares">Cancun</div>
			<div class="precio-similares">$880 <strong>mx</strong> </div>
		</div>
		<div class="cont-similares" layout="column" layout-align="center center">
			<div class="imagen-similares-2"></div>
			<div class="nombre-similares">Tour Xel-Ha Todo Incluido</div>
			<div class="lugar-similares">Riviera Maya</div>
			<div class="precio-similares">$950 <strong>mx</strong> </div>
		</div>
		<div class="cont-similares" layout="column" layout-align="center center">
			<div class="imagen-similares-3"></div>
			<div class="nombre-similares">Tour Subsee Explorer</div>
			<div class="lugar-similares">Cancun</div>
			<div class="precio-similares">$655 <strong>mx</strong> </div>
		</div>
	</div>
	<div id="sugeridos" layout="row" layout-align="space-around center" flex="100" layout-wrap>

		<div id="text-resultados" flex="80" flex-sm="95" flex-md="95" layout="row" layout-align="center center " >
			<div class="text-resultados-1 centrar" flex="100" >Tours Sugeridos</div>
		</div>
		

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados tres">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados uno">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados dos">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

	</div>
</div>
