<div id="detalle" flex="100" layout="row" layout-align="end end" >
	<div id="cont-detalle" flex="75" layout="row" layout-align="center center" ></div>
	<div id="similares" flex="20" layuot="row" layout-align="center start" layout-wrap></div>
</div>
