<div id="detalle" flex="100" layout="row" layout-align="end end" >
	<div id="similares" flex="20" layuot="row" layout-align="center start" layout-wrap></div>
</div>
<div ng-include="'/templates/global/footer.ejs'" layout='row'></div>