<div id="home" flex="100" layout="row" layout-wrap >

	<div class="home" flex="100" layout="row" layout-wrap>
		<div class="imagenes-home uno imagen-chica" flex="30" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-1" flex="45" layout="column" layout-align="center center" >
				<i class="icon-estrella icono-tour-home"></i>
				<div class="titulo-tour">Tour</div>
				<div class="tour-desde">desde</div>
				<div class="precio-tour">$4,500</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home dos imagen-chica" flex="20" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-1" flex="45" layout="column" layout-align="center center" >
				<i class="icon-estrella icono-tour-home"></i>
				<div class="titulo-tour">Tour</div>
				<div class="tour-desde">desde</div>
				<div class="precio-tour">$4,500</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home tres imagen-chica" flex="25" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-1" flex="45" layout="column" layout-align="center center" >
				<i class="icon-estrella icono-tour-home"></i>
				<div class="titulo-tour">Tour</div>
				<div class="tour-desde">desde</div>gracias
				<div class="precio-tour">$4,500</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home cuatro imagen-chica" flex="25" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-1" flex="45" layout="column" layout-align="center center" >
				<i class="icon-estrella icono-tour-home"></i>
				<div class="titulo-tour">Tour</div>
				<div class="tour-desde">desde</div>
				<div class="precio-tour">$4,500</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home cinco imagen-grande" flex="50" layout="row" flex-sm="100" layout="start center" >
			<div class="hover-imagen-2" flex="100" layout="column" layout-align="center center" >
				<i class="icon-aventura icono-aventura-home"></i>
				<div class="text-aventura">This is photoshop's version Lorem ipsum</div>
				<div class="text-aventura-2">proin gravida nibh vei vel auctor  aliquet</div>
				<div class="precio-aventura">$4,250</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home seis imagen-grande" flex="25" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-2" flex="100" layout="column" layout-align="center center" >
				<i class="icon-aventura icono-aventura-home"></i>
				<div class="text-aventura">This is photoshop's version</div>
				<div class="text-aventura-2">proin gravida nibh vei vel auctor  aliquet</div>
				<div class="precio-aventura">$4,250</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
		<div class="imagenes-home siete imagen-grande" flex="25" flex-sm="50" layout="row" layout="start center" >
			<div class="hover-imagen-2" flex="100" layout="column" layout-align="center center" >
				<i class="icon-aventura icono-aventura-home"></i>
				<div class="text-aventura">This is photoshop's version</div>
				<div class="text-aventura-2">proin gravida nibh vei vel auctor  aliquet</div>
				<div class="precio-aventura">$4,250</div>
				<a href=""><div class="reservar-tour" layout="row" layout-align="center center" >RESERVAR</div></a>
			</div>
		</div>
	</div>
</div>


<div ng-include="'/templates/global/footer.ejs'" layout='row'></div>