<div ng-controller="StaticPagesCTL" layout="row" layout-md="column" layout-sm="column" ng-style="theStyle" class=''>
  <!--LEFT SIDE-->
  <section flex flex-md="100" flex-sm="100" class="container-xlg faqContainer">
    <h3>PREGUNTAS FRECUENTES</h3>
    <div layout='row' layout-sm='column' class='columns'>
      <div flex-gt-sm='50' flex>
        <p class="blueText">RESERVACIÓN</p>
        <p class='blueText'>Cambios</p>
        <p>Mándanos por correo o llámanos para realizar el cambio en tu reservación. Los cambios deben ser al menos 24 horas antes de la fecha de la actividad, en caso contrario se podría generar un cargo por el cambio.</p>
        <p class='blueText'>Cancelaciones</p>
        <p>Aceptamos cancelaciones sin cargo con un mínimo de 24 horas antes de la fecha de la actividad. Ponte en contacto con nosotros para asistirte en la cancelación, el reembolso del dinero depende de cada banco. En caso de querer cancelar el mismo día de la fecha de la actividad se podría generar un cargo por cancelación.</p>
      </div>
      <div flex-gt-sm='50' flex>
        <p class='blueText'>Facturas</p>
        <p>En caso de requerir factura, mándanos un correo con tu clave de reservación y RFC. Nuestro departamento de contabilidad te la mandará en menos de 48 horas.</p>
        <p class='blueText'>Localizar reservación</p>
        <p>Una vez completada la reservación, te mandamos un correo con la confirmación y detalles de la actividad. Si no te llegó o no la encuentras, contáctanos para mandarte una copia.</p>
      </div>
    </div>
  </section>
</div>
