<div ng-controller="StaticPagesCTL" layout="row" layout-md="column" layout-sm="column" ng-style="theStyle" class=''>
  <!--LEFT SIDE-->
  <section flex flex-md="100" flex-sm="100" class="container-xlg faqContainer">
    <h3>PREGUNTAS FRECUENTES</h3>
    <div layout='row' layout-sm='column' class='columns'>
      <div flex-gt-sm='50' flex>
        <p class='blueText'>1. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class='blueText'>2. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class='blueText'>3. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div flex-gt-sm='50' flex>
        <p class='blueText'>4. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class='blueText'>5. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class='blueText'>6. Lorem ipsum dolor sit amet, consectetur...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </section>
</div>
