<div ng-controller="StaticPagesCTL" layout="row" layout-md="column" layout-sm="column" ng-style="theStyle" class=''>
  <!--LEFT SIDE blueBG-->
  <section flex flex-md="100" flex-sm="100" class="container-lg faqContainer aboutContainer">
    <h3>¿QUIÉNES SOMOS?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
      <div flex='initial'>
        <p><i class='icon-adventure'></i></p>
        <p>AVENTURA</p>
      </div>
      <div flex='initial'>
        <p><i class='icon-sailing'></i></p>
        <p>VIAJES</p>
      </div>
      <div flex='initial'>
        <p><i class='icon-diving'></i></p>
        <p>BUCEO</p>
      </div>
      <div flex='initial'>
        <p><i class='icon-snorkeling'></i></p>
        <p>SNORKEL</p>
      </div>
      <div flex='initial'>
        <p><i class='icon-fishing'></i></p>
        <p>PESCA</p>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
      <div flex='initial'>
        <p><i class='icon-mascompradas'></i></p>
      </div>
    </div>
    <p><a href="/tours" class='action-btn'>¡RESERVAR TOUR AHORA!</a></p>
  </section>
</div>
