<div ng-controller="StaticPagesCTL" layout="row" layout-wrap ng-style="theStyle" class=''>

  <!--ESPANOL-->
  <% if(req.params.lang === 'es'){ %>

    <section flex flex-md="100" flex-sm="100" class="container-lg faqContainer aboutContainer">
      <h3>¿QUIÉNES SOMOS?</h3>
      <p>Somos una empresa Mexicana ubicada en Cancun Quintana Roo. Usamos nuestra experiencia en turismo y tecnología y sobre todo nuestro amor por el agua para proveer la mejor selección de tours y actividades acuáticas de la zona: Cancún, Puerto Morelos, Playa del Carmen y Tulum. </p>
      <p>Nos especializamos en actividades acuáticas al ser una combinación de naturaleza y diversión que simplemente nos encanta. Nuestro equipo evalúa cada tour para proporcionar recomendaciones y contenido propio. Los tours están clasificados por:</p>
      <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
        <div flex='initial'>
          <p><i class='icon-sailing'></i></p>
          <p>PASEOS EN BARCO</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-diving'></i></p>
          <p>BUCEO</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-snorkeling'></i></p>
          <p>SNORKEL</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-fishing'></i></p>
          <p>PESCA</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-cenotes'></i></p>
          <p>CENOTES</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-adventure'></i></p>
          <p>DEPORTES ACTUÁTICOS</p>
        </div>
      </div>
      <p>Trabajamos con los principales proveedores en el destino, sin embargo hacemos una selección minuciosa de los tours que agregamos. Los tours enlistados están garantizados en calidad y seguridad por nuestro equipo para pasar los mejores momentos acuáticos.</p>
      <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
        <div flex='initial'>
          <p><i class='icon-mascompradas'></i></p>
        </div>
      </div>
      <p><a href="/tours" class='action-btn'>¡RESERVAR TOUR AHORA!</a></p>
    </section>

  <% }else{ %>

    <!--ENGLISH-->
    <section flex flex-md="100" flex-sm="100" class="container-lg faqContainer aboutContainer">
      <h3>ABOUT US</h3>
      <p>Cancun Water Tours is a company in Cancun, Mexico. We use our expertise in tourism and technology to provide the best selection of water tours and activities in the zone: Cancun, Puerto Morelos, Playa del Carmen, and Tulum.</p>
      <p>We specialize in water activities since its a combination of nature and fun that we just love! Our team evaluates each tour and provides recommendations and own content. Our tours are classified by:</p>
      <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
        <div flex='initial'>
          <p><i class='icon-sailing'></i></p>
          <p>BOAT TRIPS</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-diving'></i></p>
          <p>SCUBA DIVING</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-snorkeling'></i></p>
          <p>SNORKEL</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-fishing'></i></p>
          <p>FISHING</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-cenotes'></i></p>
          <p>WATER CAVERNS</p>
        </div>
        <div flex='initial'>
          <p><i class='icon-adventure'></i></p>
          <p>WATER SPORTS</p>
        </div>
      </div>
      <p>We work with the main tour operators in the destination, however we hand pick each tour that we add. Our tours are quality guaranteed and safe by our team to provide you the best water moments!.</p>
      <div layout='row' layout-wrap layout-align='center center' class='iconsRow'>
        <div flex='initial'>
          <p><i class='icon-mascompradas'></i></p>
        </div>
      </div>
      <p><a ng-href="/{{currentLang}}/tours" class='action-btn'>BOOK NOW!</a></p>
    </section>

  <% } %>
</div>
