
<script type="text/javascript">
  var category = '<%- meta.req.category %>';
  var minFee = '<%- meta.req.minFee %>';
  var maxFee = '<%- meta.req.maxFee %>';
  var term = '<%- meta.req.term %>';
</script>

<div ng-controller="resultsCTL" layout="row">
  <!--LEFT SIDE-->
  <section class="search-results-tours" flex="50">

    <div class="search-results-options">

      <div class="search-results-option-item tour-type" flex flex-sm="100">
        <p>Categoria</p>

        <div class="cont-tipo" layout="column" layout-align="center center" flex="100">
          <md-select placeholder="Tipo de tour" class="custom-select" ng-model="category" ng-change="getTours()">
            <md-option ng-repeat="category in toursCategories"  value="{{category.id}}">{{category.name}}</md-option>
          </md-select>
        </div>
      </div>

      <md-radio-group ng-model="orderBy" class="cont-iconos" flex="100" layout="row" layout-align="start start" layout-wrap>

        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-precio icono-opciones ap-precio"></i>
          <p>Precio</p>
          <md-radio-button value="fee" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-new icono-opciones ap-nuevas"></i>
          <p>Nuevas</p>
          <md-radio-button value="dtCreated" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-populares icono-opciones ap-populares"></i>
          <p>Populares</p>
          <md-radio-button value="raiting" class="md-primary"></md-radio-button>
        </div>
        <div class="search-results-option-item" flex="25" flex-sm="50">
          <i class="icon-mascompradas icono-opciones ap-mas"></i>
          <p>Más compradas</p>
          <md-radio-button value="reservations" class="md-primary"></md-radio-button>
        </div>
      </md-radio-group>
    </div>
    <div class="container-xlg" layout-wrap>

    	<div ng-hide="loading" class="search-results-list" layout="row" layout-align="space-between start" layout-wrap>
        <div flex-sm="100" flex="50" class="tour-item" ng-repeat="tour in tours | orderBy : orderBy">
          <div class="tour-item-inner" ng-style="{ 'background-image' : 'url(' + tour.avatar1 + ')' }">
            <a href="/detalle/{{tour.id}}" class="absolute-link"></a>
            <div class="tour-item-detail" layout="row" layout-align="space-between center">
              <div flex="60">
                <p>{{tour.name}}</p>
                <p>{{tour.location.name}}</p>
                <p>Categorias : {{ getCategoriesString(tour) }}</p>
              </div>
              <div flex="30">
                <p>DESDE</p>
                <p class="tour-item-price">
                  <strong>{{tour.fee | currency}}</strong> <span>MX</span></p>
              </div>
            </div>
            <div class="tour-item-overlay" flex="100" layout="row" layout-align="center center" >
              <a class="action-btn" href="/detalle/{{tour.id}}">BOOK NOW!</a>
            </div>
          </div>
        </div>
    	</div>
      <div ng-show="loading" layout="row" layout-align="center center" layout-fill>
        <md-progress-circular md-mode="indeterminate" ></md-progress-circular>
      </div>
    </div>
  </section>
  <section class="map-wrapper" flex="50">
    <leaflet center="center"  markers="markers" layers="layers"></leaflet>
  </section>
</div>
