<div id="cont-resultados" flex layout="row" layout-align="center start" layout-wrap>
	<div id="text-resultados" flex="80" flex-sm="95" flex-md="95" layout="column" layout-align="start start" >
		<div class="text-resultados-1">Resultado de la búsqueda: <strong>Buceo en Cancún</strong></div>
		<div class="text-resultados-2">Mostrar paquete por:</div>
	</div>
	<div id="opciones-resultados" flex="80" flex-sm="100" flex-md="100" layout="row" layout-align="space-between center" >
		<div flex="100" layout="row" layout-align="start center" layout-wrap>
			<div flex="15" flex-sm="50" layout="column" layout-align="start center" class="opciones">
				<i class="icon-precio icono-opciones ap-precio"></i>
				<div class="text-opciones">Precio</div>
				<div id="ap-precio" class="apuntador-opcion" layout="row" layout-align="center center" ng-click="precioVisibility = !precioVisibility" >
					<div class="apuntador-opt ng-cloak" ng-show="precioVisibility" ></div>
				</div>
			</div>
			<div flex="15" flex-sm="50" layout="column" layout-align="start center" class="opciones">
				<i class="icon-new icono-opciones ap-nuevas"></i>
				<div class="text-opciones">Nuevas</div>
				<div id="ap-nuevas" class="apuntador-opcion" layout="row" layout-align="center center" ng-click="nuevaVisibility = !nuevaVisibility" >
					<div class="apuntador-opt" ng-show="nuevaVisibility" ></div>
				</div>
			</div>
			<div flex="15" flex-sm="50" layout="column" layout-align="start center" class="opciones">
				<i class="icon-populares icono-opciones ap-populares"></i>
				<div class="text-opciones">Populares</div>
				<div id="ap-populares" class="apuntador-opcion" layout="row" layout-align="center center" ng-click="popularVisibility = !popularVisibility" >
					<div class="apuntador-opt ng-cloak" ng-show="popularVisibility" ></div>
				</div>
			</div>
			<div flex="30" flex-sm="50" layout="column" layout-align="start center" class="opciones">
				<i class="icon-mascompradas icono-opciones ap-mas"></i>
				<div class="text-opciones">Más Compradas</div>
				<div id="ap-mas" class="apuntador-opcion" layout="row" layout-align="center center" ng-click="masVisibility = !masVisibility" >
					<div class="apuntador-opt ng-cloak" ng-show="masVisibility" ></div>
				</div>
			</div>
			<div flex flex-sm="100" layout="row" layout-align="center start" class="opciones tipo" layout-wrap>
				<div class="text-opciones tipo" flex="70" layout="row" layout-align="start start" >Tipo de Tour</div>
				
					<div class="cont-tipo"  ng-controller="AppCtrl" layout="column" layout-align="center center" flex="70">
					  <md-select class="select-tipo" ng-model="someVal">
					    <md-option value="1">Hotel</md-option>
					    <md-option value="2">Tour</md-option>
					    <md-option value="3">Aventura</md-option>
					  </md-select>
					</div>
				
			</div>
		</div>
	</div>
	<div class="cont-resultados" flex="80" flex-sm="100" flex-md="100" layout="row" layout-align="space-between start" layout-wrap>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados uno">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados dos">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados tres">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados cuatro">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados cinco">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados seis">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados siete">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados ocho">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>

		<div flex-sm="100" flex="30" layout="row" layout-align="end end" class="imagen-resultados nueve">
			<div id="detalles-resultados" layout="row" flex="100" layout-align="start center" layout-wrap>
				<div id="textos-resultados" flex="65" flex-md="100" flex-sm="100" layout="column" layout-align-sm="center center" layout-align-md="center center"   layout-wrap>
					<div class="text-strong-1" >Tour Subasee Explorer</div>
					<div class="localidad-resultado">Cancun</div>
					<div class="categoria-resultado">Categoria: Aventura,Buceo</div>
				</div>
				<div id="precios-resultados" flex="20" flex-sm="100" flex-md="100" layout-align-sm="center center" layout-align-md="center center" layout="column" layout-align="center start" >
					<div class="desde-resultados">DESDE</div>
					<div class="precio-resultados">$655<strong>MX</strong></div>
				</div>
			</div>
			<div class="book-now" flex="100" layout="row" layout-align="center center" >
				<a href="/detalle"><div class="boton-resultados" layout="row" layout-align="center center" >BOOK NOW!</div></a>
			</div>
		</div>


	</div>
</div>