@font-face {
    font-family: "open-r";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "open-l";
    src: url(fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
    font-family: "open-b";
    src: url(fonts/OpenSans-Bold.ttf) format("truetype");
}
body{font-family: open-r}
a{text-decoration: none}
.ng-cloak{display: none}
/**header**/

/*menu*/
.menu-busc{height: 50px;}
#menu{width: 74px;height: 100%;position: relative;}
.linea-menu{width: 15px;height: 2px;background: #64CBE4;margin-bottom: 3px}
.input-header{width: 127px;margin-left: 9px;border-radius: 20px 20px 20px 20px;height: 15px;background: #F2F2F2;border: 0px}
.input-header:focus{border: none;border-radius-color: none}
.icon-header{color:#2AB7D0;font-size: 18px;margin-left: 10px}
.text-header{color: #64CBE4;font-size: 8px;font-family: open-b;text-align: center;margin-left: 5px;height: 100%}
a.text-header:focus{background: #00ADEF;color: white}
.menu-logo{height: 50px;}
#logo{max-width: 75%}
.menu-usua{height: 50px;}
#img-perfil{width: 25px;height: 25px;background-image: url(../images/perfil.png);background-repeat:no-repeat;background-position:center;background-size: cover;margin-right: 13px}
.text-prefil{font-family: open-b;font-size: 7.5px;color: #727272;margin-right: 5px;text-transform: uppercase;}
#icon-carrito{margin-top: 7px}
.icon-carrito{color:#2AB7D0;font-size: 18px;margin-right: 10px;margin-top: 10px}
#login{font-size: 8px;color: white;background: #36BEC9;border-radius: 20px;margin-right: 12px;font-family: open-b;height: 19px;width: 45px;}
/*menu*/

/*buscar header*/
#buscar-header{position: absolute;width: 300px;background: white;z-index: 1000000;left: 80px;top: 50px;opacity: 1;transition: .5s linear all}
#buscar-header.ng-hide{opacity: 0}
.imagen-buscar{width: 25px;height: 25px;border-radius: 50%;margin-right: 15px;margin-left: 15px}
.buscar-header:hover{background: #00ADEF}
.buscar-header:hover .titulo-buscar{color: white}
.titulo-buscar{font-size: 10px;color: #828282}
.input-header::-webkit-input-placeholder {font-size: 12px;}
.imagen-buscar.uno{background-image: url(../images/1.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-buscar.dos{background-image: url(../images/2.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-buscar.tres{background-image: url(../images/3.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-buscar.cuatro{background-image: url(../images/4.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-buscar.cinco{background-image: url(../images/5.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-buscar.seis{background-image: url(../images/6.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
/*buscar header*/

/*menu desplegable*/
#cont-menu{width: 95px;background: #28B7D9;height: 587px;z-index: 1000000;opacity: 1;transition: .5s linear all;position: absolute;top: 50px;}
.buscar-header{height: 30px}
#cont-menu.ng-hide{opacity: 0}
.enlace-menu{color: white ; font-size: 8px;height: 60px;margin: 0px;}
.icon-desplegable{color: white;font-size: 30px}
.en-menu{margin-top: -80px}
/*menu desplegable*/

/*busqueda avanzada*/
#buscar-avanzado-header{position: absolute;width: 321px;height: 190px;background: #00ADEF;z-index: 1000000;left: 74px;top: 50px;opacity: 1;transition: .5s linear all}
#buscar-avanzado-header.ng-hide{opacity: 0}
.cont-buscar-precio{height: 50px;}
#apuntador-avanzado{width: 16px;height: 16px;background:#81D7F7;border-radius: 50%}
.apuntador-avanzado{width: 6px;height: 6px;background:black;border-radius: 50%}
.text-buscar-a{color: white;font-size: 8px;font-weight: 700;margin-left: 5px;text-transform: uppercase;}
.slide-precio{height: 50px;}
.md-thumb{background:#FFFFFF }
.md-thumb:after{background: #FFFFFF!important;border: #FFFFFF!important}
.md-track{background: black!important}
.md-track-container{height: 4px!important}
.precios-a{color: white;font-size: 8px}
.precios-b{color: white;font-size: 15px}
.slider-precios{margin-top: -10px}
.select-header{width: 100%;background: black;color: white;height: auto!important;border-radius: 5px!important;font-size: 11px;border-color: black;padding-left: 5px;position: relative;}
/*.md-select-label{padding: 0px!important;padding-left: 10px!important}*/
/*busqueda avanzada*/
.icon-buscar{color: white;font-size: 25px;margin-right: 3px}
.text-adultos{color: white;font-size: 8px;font-weight: 700;text-transform: uppercase;margin-right: 20px}
#apuntador-avanzado.dos{margin-right: 5px}
.icon-familiar{margin-right: 10px}
.icon-ninos{margin-right: 10px}
#select-header{margin-top: -10px}
/**header**/

/*home*/

#home{position: relative!important}
/*#traslado{position: absolute;height: 100%;background: white;z-index: 100000000}*/
.home{height: auto;clear: both;position: relative;}
.imagen-chica{height:157px}
.imagen-grande{height: 435px}
.imagenes-home.uno{background-image: url(../images/1.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.dos{background-image: url(../images/2.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.tres{background-image: url(../images/3.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.cuatro{background-image: url(../images/4.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.cinco{background-image: url(../images/5.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.seis{background-image: url(../images/6.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home.siete{background-image: url(../images/7.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagenes-home:hover .hover-imagen-1{opacity: 1;transition: .5s linear all}
.hover-imagen-1{background: rgba(3, 3, 3, 0.7);opacity: 0}
.imagenes-home:hover .hover-imagen-2{opacity: 1;transition: .5s linear all}
.hover-imagen-2{background: rgba(3, 3, 3, 0.7);opacity: 0}
.icono-tour-home{color: white;font-size: 15px}
.titulo-tour{color: white;font-size: 21px}
.tour-desde{color: white;font-size: 11px}
.precio-tour{color: white;font-size: 20px;font-weight: 700}
.reservar-tour{border-radius: 20px;background:#2CB8D9;width: 60px;height: 20px;font-size: 9px;color: white;font-weight: 700;margin-top: 20px}
.icono-aventura-home{color: #2CB8D9;font-size: 30px;margin-bottom: 2px}
.text-aventura{color: white;font-size: 20px;font-weight: 700;margin-bottom: 2px}
.text-aventura-2{color: white;font-size: 13px;margin-bottom: 2px}
.precio-aventura{color: white;font-size: 26px}
/*home*/

/*Resultados */
#cont-resultados{background: #F2F2F2;/*height: 921px*/height: auto;}
#text-resultados{height: 70px;}
.text-resultados-1{color: #9D9D9D;font-size: 24px;margin-top: 5px}
.text-resultados-1 strong{color: #9D9D9D;font-size: 18px}
.text-resultados-2{color: #9D9D9D;font-size: 13px;margin-top: 5px}
#opciones-resultados{}
.opciones{background: white;height: 85px}
.opciones.tipo{margin-left: 10px}
.icono-opciones{color: #9D9D9D;font-size: 25px;margin-top: 5px}
.text-opciones{color: #9D9D9D;font-size: 15px}
.apuntador-opcion{width: 20px;height: 20px;border-radius: 50%;background: #E4E4E4;margin-top: 5px}
.apuntador-opt{width: 10px;height: 10px;border-radius: 50%;background: #00C1C9;}
.cont-resultados{background: white;margin-top: 10px;margin-bottom: 60px;}
.text-opciones.tipo{margin-top: 10px}
.select-tipo{background: #E4E4E4;width: 100%;height: 20px;border-radius:5px;}
.select-tipo .md-placeholder{width: 100%!important;height: 20px!important;border: 0px!important;margin-top: -10px!important}
.select-tipo .md-select-label .md-select-icon{color: #3DBDEC}
.select-tipo .md-select-label{font-size: 13px;margin-top: -17px;padding-left: 5px;border:0px;}
.imagen-resultados{height:200px;margin-bottom: 35px;position: relative;}
.imagen-resultados.uno{background-image: url(../images/1.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.dos{background-image: url(../images/2.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.tres{background-image: url(../images/3.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.cuatro{background-image: url(../images/1.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.cinco{background-image: url(../images/2.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.seis{background-image: url(../images/3.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.siete{background-image: url(../images/1.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.ocho{background-image: url(../images/2.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
.imagen-resultados.nueve{background-image: url(../images/3.jpg);background-repeat:no-repeat;background-position:center;background-size: cover;}
#detalles-resultados{background: rgba(3, 3, 3, 0.7);height: 35%;opacity: 1}
.imagen-resultados:hover #detalles-resultados{opacity: 0}
.text-strong-1{color: white;font-size: 16px;font-weight: 700;margin-left: 10px}
.localidad-resultado{color: white;font-size: 12px;font-weight: 700;margin-left: 10px}
.categoria-resultado{color: white;font-size: 9px;;margin-left: 10px}
.desde-resultados{color: white;font-weight: 900;font-size: 8px}
.precio-resultados{color: white;color: #00ABE3;font-weight: 700;font-size: 20px}
.precio-resultados strong{font-size: 11px;font-weight: 700}
.book-now{height: 100%;background: rgba(3, 3, 3, 0.7);position: absolute;z-index: 10000000;width: 100%;left: 0;opacity: 0;transition: .5s linear all}
.imagen-resultados:hover .book-now{opacity: 1}
.boton-resultados{color:white;font-size: 16px;height: 50px;width: 150px;background: #00C1CA;border-radius: 10px;font-weight: 700;transition: .5s linear all}
/*footer*/

#footer{height: 150px;background: #272727}
.cont-footer{}
.enlace-footer{color: white;font-size: 8px;font-family: open-b}

/*footer*/

@media (max-width: 1000px){
/*home*/
.imagen-grande{height: 300px}
.titulo-tour{font-size: 18px}
.tour-desde{font-size: 8px}
.text-aventura{font-size: 18px;text-align: center;}
.text-aventura-2{font-size: 12px;text-align: center;}
.precio-aventura{font-size: 22px;text-align: center;}
/*home*/
}

@media (max-width: 800px){
/*resiltados*/
.text-strong-1{color: white;font-size: 14px;font-weight: 700;margin-left: 10px}
.localidad-resultado{color: white;font-size: 10px;font-weight: 700;margin-left: 10px}
.categoria-resultado{color: white;font-size: 8px;;margin-left: 10px}
.desde-resultados{color: white;font-weight: 900;font-size: 8px}
.precio-resultados{color: white;color: #00ABE3;font-weight: 700;font-size: 18px}
.precio-resultados strong{font-size: 11px;font-weight: 700}
/*resultados*/
}


@media (max-width: 650px){
.precio-resultados{color: white;color: #00ABE3;font-weight: 700;font-size: 16px}
}

@media (max-width: 600px){
/*header*/
.input-header,
.icon-header,
.text-header,
#img-perfil,
.text-prefil,
.icon-carrito,
#login{margin: 0px}
/*header*/

/*home*/
.imagen-grande{height: 300px}
.titulo-tour{font-size: 18px}
.tour-desde{font-size: 8px}
.text-aventura{font-size: 17px;}
.text-aventura-2{font-size: 10px;}
.precio-aventura{font-size: 23px;}
/*home*/

.text-resultados-1{font-size: 20px;}
.text-resultados-1 strong{font-size: 15px}
.text-resultados-2{font-size: 10px;}


.precio-resultados{color: white;color: #00ABE3;font-weight: 700;font-size: 16px}

}

@media (max-width: 400px){
#buscar-header{left: 30px;}
#buscar-avanzado-header{width: 285px;left: 0;}
/*home*/
.titulo-tour{font-size: 15px;text-align: center;}
.tour-desde{font-size: 8px;text-align: center;}
.precio-tour{font-size: 17px;;text-align: center;}
.text-aventura{font-size: 14px;}
.text-aventura-2{font-size: 7px;}
.precio-aventura{font-size: 20px}
/*home*/

.text-resultados-1{font-size: 17px;}
.text-resultados-1 strong{font-size: 12px}
.text-resultados-2{font-size: 10px;}

}