@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vfshu0');
	src:url('fonts/icomoon.eot?#iefix-vfshu0') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-vfshu0') format('truetype'),
		url('fonts/icomoon.woff?-vfshu0') format('woff'),
		url('fonts/icomoon.svg?-vfshu0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cenote:before {
  content: "\e900";
}
.icon-adultos:before {
	content: "\e901";
}
.icon-archaeological-sites:before {
  content : "\e902"
}
.icon-adventure:before {
  content: "\e903";
}
.icon-borrar:before {
	content: "\e904";
}
.icon-diving:before {
	content: "\e905";
}
.icon-buscador:before {
	content: "\e906";
}
.icon-calendario:before {
	content: "\e907";
}
.icon-carrito:before {
	content: "\e908";
}
.icon-cerrar:before {
	content: "\e909";
}
.icon-corazon:before {
	content: "\e90a";
}
.icon-watersports:before {
  content: "\e90b"
}
.icon-estrella:before {
	content: "\e90c";
}
.icon-face:before {
	content: "\e90d";
}
.icon-familiar:before {
	content: "\e90e";
}
.icon-flecha:before {
	content: "\e90f";
}
.icon-horario:before {
	content: "\e910";
}
.icon-hotel:before {
	content: "\e911";
}
.icon-mail:before {
	content: "\e912";
}
.icon-mascompradas:before {
	content: "\e913";
}
.icon-new:before {
	content: "\e914";
}
.icon-nino:before {
	content: "\e915";
}
.icon-ninos:before {
	content: "\e916";
}
.icon-nombre:before {
	content: "\e917";
}
.icon-theme-parks:before {
  content: "\e918";
}
.icon-fishing:before {
	content: "\e924";
}
.icon-pin:before {
	content: "\e91a";
}
.icon-populares:before {
	content: "\e91b";
}
.icon-precio:before {
	content: "\e91c";
}
.icon-snorkeling:before {
	content: "\e91d";
}
.icon-tel:before {
	content: "\e91e";
}
.icon-transporte:before {
	content: "\e91f";
}
.icon-twit:before {
	content: "\e920";
}
.icon-instagram:before {
	content: "\e922";
}
.icon-sailing:before {
  content: "\e923";
}
