@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vfshu0');
	src:url('fonts/icomoon.eot?#iefix-vfshu0') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-vfshu0') format('truetype'),
		url('fonts/icomoon.woff?-vfshu0') format('woff'),
		url('fonts/icomoon.svg?-vfshu0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-adultos:before {
	content: "\e600";
}
.icon-aventura:before {
	content: "\e601";
}
.icon-borrar:before {
	content: "\e602";
}
.icon-buceo:before {
	content: "\e603";
}
.icon-buscador:before {
	content: "\e604";
}
.icon-calendario:before {
	content: "\e605";
}
.icon-carrito:before {
	content: "\e606";
}
.icon-cerrar:before {
	content: "\e607";
}
.icon-corazon:before {
	content: "\e608";
}
.icon-estrella:before {
	content: "\e609";
}
.icon-face:before {
	content: "\e60a";
}
.icon-familiar:before {
	content: "\e60b";
}
.icon-flecha:before {
	content: "\e60c";
}
.icon-horario:before {
	content: "\e60d";
}
.icon-hotel:before {
	content: "\e60e";
}
.icon-mail:before {
	content: "\e60f";
}
.icon-mascompradas:before {
	content: "\e610";
}
.icon-new:before {
	content: "\e611";
}
.icon-nino:before {
	content: "\e612";
}
.icon-ninos:before {
	content: "\e613";
}
.icon-nombre:before {
	content: "\e614";
}
.icon-pesca:before {
	content: "\e615";
}
.icon-pin:before {
	content: "\e616";
}
.icon-populares:before {
	content: "\e617";
}
.icon-precio:before {
	content: "\e618";
}
.icon-snorkel:before {
	content: "\e619";
}
.icon-tel:before {
	content: "\e61a";
}
.icon-transporte:before {
	content: "\e61b";
}
.icon-twit:before {
	content: "\e61c";
}
.icon-viajes:before {
	content: "\e61d";
}
.icon-instagram:before {
	content: "\e61e";
}
