@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?58k3hx');
    src:    url('/fonts/icomoon.eot?58k3hx#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?58k3hx') format('truetype'),
        url('/fonts/icomoon.woff?58k3hx') format('woff'),
        url('/fonts/icomoon.svg?58k3hx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accesible:before {
    content: "\e900";
}
.icon-actividad:before {
    content: "\e901";
}
.icon-actividad0:before {
    content: "\e902";
}
.icon-actividad1:before {
    content: "\e903";
}
.icon-adultos:before {
    content: "\e904";
}
.icon-adventure:before {
    content: "\e905";
}
.icon-alert:before {
    content: "\e906";
}
.icon-archaeological-sites:before {
    content: "\e907";
}
.icon-bebes:before {
    content: "\e908";
}
.icon-borrar:before {
    content: "\e909";
}
.icon-buscador:before {
    content: "\e90a";
}
.icon-calendario:before {
    content: "\e90b";
}
.icon-carrito:before {
    content: "\e90c";
}
.icon-cenote:before {
    content: "\e90d";
}
.icon-cenotes:before {
    content: "\e90e";
}
.icon-cerrar:before {
    content: "\e90f";
}
.icon-coins:before {
    content: "\e910";
}
.icon-corazon:before {
    content: "\e911";
}
.icon-cultural:before {
    content: "\e912";
}
.icon-diving:before {
    content: "\e913";
}
.icon-embarazadas:before {
    content: "\e914";
}
.icon-estrella:before {
    content: "\e915";
}
.icon-face:before {
    content: "\e916";
}
.icon-familiar:before {
    content: "\e917";
}
.icon-familiar2:before {
    content: "\e918";
}
.icon-fishing:before {
    content: "\e919";
}
.icon-flecha:before {
    content: "\e91a";
}
.icon-flecha2:before {
    content: "\e91b";
}
.icon-grupos:before {
    content: "\e91c";
}
.icon-horario:before {
    content: "\e91d";
}
.icon-horario2:before {
    content: "\e91e";
}
.icon-hotel:before {
    content: "\e91f";
}
.icon-information:before {
    content: "\e920";
}
.icon-instagram:before {
    content: "\e921";
}
.icon-login:before {
    content: "\e922";
}
.icon-mail:before {
    content: "\e923";
}
.icon-mascompradas:before {
    content: "\e924";
}
.icon-mojado:before {
    content: "\e925";
}
.icon-mojado0:before {
    content: "\e926";
}
.icon-mojado1:before {
    content: "\e927";
}
.icon-moneda:before {
    content: "\e928";
}
.icon-naturaleza:before {
    content: "\e929";
}
.icon-naturaleza0:before {
    content: "\e92a";
}
.icon-naturaleza1:before {
    content: "\e92b";
}
.icon-new:before {
    content: "\e92c";
}
.icon-nino:before {
    content: "\e92d";
}
.icon-ninos:before {
    content: "\e92e";
}
.icon-nocturno:before {
    content: "\e92f";
}
.icon-nombre:before {
    content: "\e930";
}
.icon-nuevo:before {
    content: "\e931";
}
.icon-oferta:before {
    content: "\e932";
}
.icon-parejas:before {
    content: "\e933";
}
.icon-pin:before {
    content: "\e934";
}
.icon-populares:before {
    content: "\e935";
}
.icon-populares2:before {
    content: "\e936";
}
.icon-precio:before {
    content: "\e937";
}
.icon-precio2:before {
    content: "\e938";
}
.icon-sailing:before {
    content: "\e939";
}
.icon-snorkeling:before {
    content: "\e93a";
}
.icon-tel:before {
    content: "\e93b";
}
.icon-theme-parks:before {
    content: "\e93c";
}
.icon-todos:before {
    content: "\e93d";
}
.icon-transporte:before {
    content: "\e93e";
}
.icon-trending:before {
    content: "\e93f";
}
.icon-twit:before {
    content: "\e940";
}
.icon-viajes:before {
    content: "\e941";
}
.icon-water-sports:before {
    content: "\e942";
}
.icon-world:before {
    content: "\e943";
}

