@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2jtkky');
	src:url('fonts/icomoon.eot?2jtkky#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?2jtkky') format('truetype'),
		url('fonts/icomoon.woff?2jtkky') format('woff'),
		url('fonts/icomoon.svg?2jtkky#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-accesible:before {
	content: "\e900";
}
.icon-actividad:before {
	content: "\e901";
}
.icon-adultos:before {
	content: "\e902";
}
.icon-adventure:before {
	content: "\e903";
}
.icon-alert:before {
	content: "\e904";
}
.icon-archaeological-sites:before {
	content: "\e905";
}
.icon-bebes:before {
	content: "\e906";
}
.icon-borrar:before {
	content: "\e907";
}
.icon-buscador:before {
	content: "\e908";
}
.icon-calendario:before {
	content: "\e909";
}
.icon-carrito:before {
	content: "\e90a";
}
.icon-cenote:before {
	content: "\e90b";
}
.icon-cenotes:before {
	content: "\e90c";
}
.icon-cerrar:before {
	content: "\e90d";
}
.icon-corazon:before {
	content: "\e90e";
}
.icon-cultural:before {
	content: "\e90f";
}
.icon-diving:before {
	content: "\e910";
}
.icon-embarazadas:before {
	content: "\e911";
}
.icon-estrella:before {
	content: "\e912";
}
.icon-face:before {
	content: "\e913";
}
.icon-familiar:before {
	content: "\e914";
}
.icon-familiar2:before {
	content: "\e915";
}
.icon-fishing:before {
	content: "\e916";
}
.icon-flecha:before {
	content: "\e917";
}
.icon-flecha2:before {
	content: "\e918";
}
.icon-grupos:before {
	content: "\e919";
}
.icon-horario:before {
	content: "\e91a";
}
.icon-horario2:before {
	content: "\e91b";
}
.icon-hotel:before {
	content: "\e91c";
}
.icon-instagram:before {
	content: "\e91d";
}
.icon-login:before {
	content: "\e91e";
}
.icon-mail:before {
	content: "\e91f";
}
.icon-mascompradas:before {
	content: "\e920";
}
.icon-mojado:before {
	content: "\e921";
}
.icon-moneda:before {
	content: "\e922";
}
.icon-naturaleza:before {
	content: "\e923";
}
.icon-new:before {
	content: "\e924";
}
.icon-nino:before {
	content: "\e925";
}
.icon-ninos:before {
	content: "\e926";
}
.icon-nocturno:before {
	content: "\e927";
}
.icon-nombre:before {
	content: "\e928";
}
.icon-nuevo:before {
	content: "\e929";
}
.icon-oferta:before {
	content: "\e92a";
}
.icon-parejas:before {
	content: "\e92b";
}
.icon-pin:before {
	content: "\e92c";
}
.icon-populares:before {
	content: "\e92d";
}
.icon-populares2:before {
	content: "\e92e";
}
.icon-precio:before {
	content: "\e92f";
}
.icon-precio2:before {
	content: "\e930";
}
.icon-sailing:before {
	content: "\e931";
}
.icon-snorkeling:before {
	content: "\e932";
}
.icon-tel:before {
	content: "\e933";
}
.icon-theme-parks:before {
	content: "\e934";
}
.icon-todos:before {
	content: "\e935";
}
.icon-transporte:before {
	content: "\e936";
}
.icon-trending:before {
	content: "\e937";
}
.icon-twit:before {
	content: "\e938";
}
.icon-viajes:before {
	content: "\e939";
}
.icon-water-sports:before {
	content: "\e93a";
}
.icon-world:before {
	content: "\e93b";
}

.icon-information:before{ content: "\e942"; }
.icon-naturaleza0:before{ content: "\e940"; }
.icon-naturaleza1:before{ content: "\e941"; }
.icon-mojado0:before{ content: "\e93e"; }
.icon-mojado1:before{ content: "\e93f"; }
.icon-actividad0:before{ content: "\e93c"; }
.icon-actividad1:before{ content: "\e93d"; }
