@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qqzjl8');
	src:url('fonts/icomoon.eot?qqzjl8#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qqzjl8') format('truetype'),
		url('fonts/icomoon.woff?qqzjl8') format('woff'),
		url('fonts/icomoon.svg?qqzjl8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-adultos:before {
	content: "\e900";
}
.icon-adventure:before {
	content: "\e901";
}
.icon-archaeological-sites:before {
	content: "\e902";
}
.icon-borrar:before {
	content: "\e903";
}
.icon-buscador:before {
	content: "\e904";
}
.icon-calendario:before {
	content: "\e905";
}
.icon-carrito:before {
	content: "\e906";
}
.icon-cenote:before {
	content: "\e907";
}
.icon-cerrar:before {
	content: "\e908";
}
.icon-corazon:before {
	content: "\e909";
}
.icon-diving:before {
	content: "\e90a";
}
.icon-estrella:before {
	content: "\e90b";
}
.icon-face:before {
	content: "\e90c";
}
.icon-familiar:before {
	content: "\e90d";
}
.icon-fishing:before {
	content: "\e90e";
}
.icon-flecha:before {
	content: "\e90f";
}
.icon-horario:before {
	content: "\e910";
}
.icon-hotel:before {
	content: "\e911";
}
.icon-instagram:before {
	content: "\e912";
}
.icon-mail:before {
	content: "\e913";
}
.icon-mascompradas:before {
	content: "\e914";
}
.icon-new:before {
	content: "\e915";
}
.icon-nino:before {
	content: "\e916";
}
.icon-ninos:before {
	content: "\e917";
}
.icon-nombre:before {
	content: "\e918";
}
.icon-oferta:before {
	content: "\e919";
}
.icon-pin:before {
	content: "\e91a";
}
.icon-populares:before {
	content: "\e91b";
}
.icon-precio:before {
	content: "\e91c";
}
.icon-sailing:before {
	content: "\e91d";
}
.icon-snorkeling:before {
	content: "\e91e";
}
.icon-tel:before {
	content: "\e91f";
}
.icon-theme-parks:before {
	content: "\e920";
}
.icon-transporte:before {
	content: "\e921";
}
.icon-trending:before {
	content: "\e922";
}
.icon-twit:before {
	content: "\e923";
}
.icon-viajes:before {
	content: "\e924";
}
.icon-water-sports:before {
	content: "\e925";
}

