<div id="reserva" flex="100" layout="row" layout-align="end start" layout-wrap >
	<div id="cont-reservacion" flex="60" layout="row" layout-align="start start" layout-wrap >
		<div id="header-reservacion" flex="100" layout="row" layout-align="center center" >
			<div class="listado-reserva" flex="33" layout="row" layout-align="center center" >
				<div class="num-header-r">1.</div> <div class="titulo-reservacion-h">Tu reservación</div>
			</div>
			<div class="listado-reserva" flex="33" layout="row" layout-align="center center" >
				<div class="num-header-r">2.</div> <div class="titulo-reservacion-h">Datos del Viajero</div>
			</div>
			<div class="listado-reserva" flex="33" layout="row" layout-align="center center" >
				<div class="num-header-r">3.</div> <div class="titulo-reservacion-h">Pago</div>
			</div>
		</div>
	</div>
	<div id="detalle-reservacion" flex="20" layout="row" layot-align="start star" ></div>
</div>