<div id="reserva" flex="100" layout="row" layout-align="end start" layout-align-md="center center" layout-align-sm="center center" layout-wrap >
	<div id="cont-reservacion" flex="60" flex-md="90" flex-sm="100" layout="row" layout-align="end start" layout-align-sm="center center" layout-wrap >
		<div id="header-reservacion" flex="100" layout="row" layout-align="center center" >
			<div class="listado-reserva tu-reservacion" flex="33" layout="row" layout-align="center center" layout-sm="column" >
				<div class="num-header-r">1.</div> <div class="titulo-reservacion-h">Tu reservación</div>
			</div>
			<div class="listado-reserva datos-v" flex="33" layout="row" layout-align="center center" layout-sm="column" >
				<div class="num-header-r">2.</div> <div class="titulo-reservacion-h">Datos del Viajero</div>
			</div>
			<div class="listado-reserva pago-r" flex="33" layout="row" layout-align="center center" layout-sm="column" >
				<div class="num-header-r">3.</div> <div class="titulo-reservacion-h">Pago</div>
			</div>
		</div>
		<div id="tu-reservacion" class="activar" flex="100" layout="column" layout-align="start start">
			<div id="nombre-reservacion" layout="row" layout-align="start center" layout-align-sm="center center" layout-align-md="center center" >
				<div class="nombre-reservacion" layout="row" layout-align="center center" >Tour</div>
			</div>
			<div id="datos-reservacion" layout="row" layout-align="space-between center" layout-wrap>
				<div id="imagen-reservacion" flex="20" flex-md="25" flex-sm="100" layout="column" layout-align="start center" layout-align-sm="center center" >
					<div class="imagen-reservacion"></div>
				</div>
				<div class="datos-reservacion" flex="75" flex-md="70" flex-sm="100" layout="column" layout-align="start start" layout-align-sm="start center" >
					<div class="tours-reservacion">Xcaret | Xel Há | Xplor | Xichén</div>
					<div class="tours-reservacion-2">( 2 - 3 o 4 tours) con Transportación</div>
					<div id="fecha-tour" layout="row" layout-align="start center" >
						<i class="icon-calendario icono-fecha-r"></i>
						<div class="fecha-tour">Fecha:</div>
						<div class="fecha-reserva" ng-controller="DatepickerDemoCtrl">
							<p class="input-group">
	              				<input type="date" class="form-control ng-pristine ng-untouched ng-valid" datepicker-popup="" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
	            			</p>
						</div>
					</div>
					<div id="ubicacion-tour" layout="row" layout-align="start center" >
						<i class="icon-pin icono-fecha-r"></i>
						<div class="fecha-tour">Ubicación:</div>
						<input type="text" class="ubicacion-r" >
					</div>
					<div id="adultos-r" layout="row" layout-align="start center" >
						<i class="icon-adultos icono-fecha-r"></i>
						<div class="fecha-tour">Adultos:</div>
						<input type="text" class="ubicacion-r adultos" >
						<i class="icon-nino icono-fecha-r ninos"></i>
						<div class="fecha-tour">Niños:</div>
						<input type="text" class="ubicacion-r adultos" >
					</div>
					<div id="fecha-tour" layout="row" layout-align="start center" >
						<i class="icon-horario icono-fecha-r"></i>
						<div class="fecha-tour">Horario:</div>
						<input type="text" class="ubicacion-r fecha" >
					</div>
				</div>
			</div>
			<div id="transp-reservacion" layout="row" layout-align="start center" layout-align-sm="center center" layout-align-md="center center" >
				<div class="nombre-reservacion" layout="row" layout-align="center center" >Transportación</div>
			</div>
			<div id="hotel-reservacion" layout="column" layout-align="space-between center">
				<div class="hotel-reservacion" layout="row" layout-align="space-between center" layout-wrap>
					<div class="cont-r-1" flex="65" flex-md="100" flex-sm="100" layout="row" layout-align="start center" layout-align-sm="center center" layout-align-md="center center" layout-wrap >
						<i class="icon-transporte trans-r"></i>
						<i class="icon-pin pin-r"></i>
						<div class="text-hotel-r">HOTEL</div>
						<input type="text" class="ubicacion-r ubi-hotel" >
					</div>
					<div class="cont-r-2" flex="30" flex-md="100" flex-sm="100" layout="row" layout-align="space-between center" layout-align-md="space-around center" layout-align-sm="space-around center" >
						<div class="boton-r-h" layout="row" layout-align="center center" >editar</div>
						<div class="boton-r-h-2" layout="row" layout-align="center center" > <i class="icon-borrar btn-borrar"></i> eliminar</div>
					</div>
					<div class="cont-r-3" flex="100" layout="row" layout-align="start center" layout-align-sm="center center" layout-wrap>
						<div id="marcador-terminos" layout="row" layout-align="center center" ng-click="terminosVisibility = !terminosVisibility" >
							<div class="marcador-terminos" ng-show="terminosVisibility" ></div>
						</div>
						He leído y acepto los <a href=""> Términos y Condiciones de uso </a> y el <a href=""> Aviso de privacidad </a>
					</div>
					<div id="total-transporte" flex="100" layout="column" layout-align="center start" layout-align-sm="center center">
						<div class="text1-total">Total Transporte</div>
						<div class="text2-total">MXM <strong> $ 293.00 </strong></div>
						<div class="text3-total">El importe incluye todos los impuestos</div>
					</div>
				</div>
			</div>
		</div>

		<div id="datos-viajero" class="ng-hide" flex="100" layout="column" layout-align="start start">
			datos
		</div>

		<div id="pago-reservacion" class="ng-hide" flex="100" layout="column" layout-align="start start">
			pago
		</div>

		<a href="" id="boton-reserva" ><div class="boton-reserva" layout="row" layout-align="center center" >CONTINUAR</div></a>
	</div>
	<div id="detalle-reservacion" flex="20" flex-md="75" flex-sm="90" layout="row" layot-align="start star" ></div>
</div>