<script type="text/javascript">
    var hotels = <%- JSON.stringify(hotels) %>;
    <% if(req.user){ %>
      var client = <%- JSON.stringify(req.user) %>;
    <% } %>
</script>
<div  class="booking" ng-controller="reservaCTL">
    <div id="reserva" >

        <div
          class="container-xlg"
          layout="row"
          layout-md="column"
          layout-sm="column"
          layout-align="space-between start"
          layout-align-md="center center"
          layout-align-sm="center center">

          <!--LEFT SIDE-->
          <div class="booking-content" flex="70" flex-md="100" flex-sm="100" >

              <!--STEPS BAR-->
              <div class="booking-header" layout="row"   ng-click="console.log(step);">
                  <div class="step" ng-click="step = 0" ng-class="step >= 0 ? 'step-on' : ''" flex="33">
                      <span><strong>1.</strong> Tu reservación</span>
                  </div>
                  <div class="step" ng-click="step = terminos ? 1 : 0" ng-class="step >= 1 ? 'step-on' : ''" flex="33" >
                    <span><strong>2.</strong> Datos del viajero</span>
                  </div>
                  <div class="step" ng-click="step = terminos ? 2 : 0" ng-class="step == 2 ? 'step-on' : ''" flex="33" >
                      <span><strong>3.</strong> Pago</span>
                  </div>
              </div>
              <!--END STEPS BAR-->

              <!--RESERVACION STEP 1-->
              <div id="tu-reservacion" ng-class="step == 0 ? 'activar' : 'ng-hide'">


                  <div class="block-content" layout="row" layout-align="space-between start" layout-wrap ng-repeat="tour in tours track by $index">
                      <div class="booking-tour-img" flex="30" flex-md="35" flex-sm="100">
                          <div class="booking-tour-img"  ng-style="{ 'background-image' : 'url(' + tour.avatar2 + ')'}"></div>
                      </div>
                      <div class="booking-form" flex="70" flex-md="65" flex-sm="100">
                          <h3>{{tour.name}}</h3>
                          <p>{{tour.hotel ? "con Transportación" : ""}}</p>
                          <section>
                              <div class="input-field-wrap" layout="row" layout-align="space-between center" >
                                  <label flex="20">
                                    <i class="icon-calendario highlight"></i> Fecha:
                                  </label>
                                  <div flex="80">
                                    <md-datepicker flex="75" ng-model="tour.date" md-min-date="minDate" md-placeholder="Fecha"></md-datepicker>
                                  </div>
                              </div>
                              <!--<div class="input-field-wrap" layout="row" layout-align="space-between center" ng-if="tour.location">
                                  <label flex="20">
                                    <i class="icon-pin highlight"></i> Ubicación:
                                  </label>
                                  <div flex="75">
                                    <input type="text" ng-model="tour.location.name" disabled="disabled">
                                  </div>
                              </div>-->
                              <div class="input-field-wrap" layout="row" layout-align="space-between center" >
                                  <label flex="20">
                                    <i class="icon-adultos highlight"></i> Adultos:
                                  </label>
                                  <div flex="80">
                                    <input type="number" min-value="1" max-value="8" ng-model="tour.adults">
                                  </div>
                              </div>
                              <div class="input-field-wrap" layout="row" layout-align="space-between center">
                                  <label flex="20">
                                    <i class="icon-nino highlight"></i> Niños:
                                  </label>
                                  <div flex="80">
                                    <input type="number" min-value="0" max-value="8" ng-model="tour.kids">
                                  </div>
                              </div>
                              <div class="input-field-wrap" layout="row" layout-align="space-between center" ng-if="tour.schedules.length > 0">
                                  <label flex="20">
                                    <i class="icon-horario highlight"></i> Horario:
                                  </label>
                                  <div flex="80">
                                    <md-select class="custom-select" ng-model="tour.schedule" ng-required name="schedule">
                                        <md-option value="{{schedule}}" ng-repeat="schedule in tour.schedules" ng-selected="$index == 0">De {{schedule.from | date:'HH:mm'}} a {{schedule.to | date:'HH:mm'}}</md-option>
                                    </md-select>
                                  </div>
                              </div>
                              <!--<div class="input-field-wrap" layout="row" layout-align="space-between center">
                                <label flex="20">
                                  <i class="icon-hotel highlight"></i> Hotel:
                                </label>
                                <div flex="75">
                                  <md-autocomplete
                                    class="custom-autocomplete"
                                    md-no-cache="false"
                                    md-selected-item="tour.hotel"
                                    md-search-text="tour.searchText"
                                    md-items="item in hotels|filter:{name : tour.searchText}:false"
                                    md-item-text="item.name"
                                    md-min-length="0"
                                    placeholder="">
                                    <md-item-template>
                                      <span md-highlight-text="tour.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                      No matches found for "{{tour.searchText}}".
                                    </md-not-found>
                                  </md-autocomplete>
                                </div>
                              </div>-->
                          </section>
                      </div><!--Booking form-->
                      <div flex='100' layout='column' layout-align='center center'>
                        <p class='blueText'>
                          <md-checkbox class="md-primary" ng-model="tour.transfer" aria-label="">
                            <i class='icon-transporte'></i> Agregar transportación
                          </md-checkbox>
                        </p>
                        <div class='hotel-select' ng-hide="!tour.transfer" layout='row' layout-align='center center'>
                          <span><i class='icon-pin'></i>Hotel</span>
                          <span><md-autocomplete
                            class="custom-autocomplete"
                            md-no-cache="false"
                            md-selected-item="tour.hotel"
                            md-search-text="tour.searchText"
                            md-items="item in hotels|filter:{name : tour.searchText}:false"
                            md-item-text="item.name"
                            md-min-length="0"
                            placeholder="">
                            <md-item-template>
                              <span md-highlight-text="tour.searchText" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                              No matches found for "{{tour.searchText}}".
                            </md-not-found>
                          </md-autocomplete></span>
                        </div>
                      </div>
                      <md-button class='removeTour' ng-click="removeTour($index)"><i class='icon-cerrar'></i></md-button>
                  </div><!-- block-content ngRepeat -->


                  <div class="">
                    <p class="terms-text">
                      <md-checkbox class="md-primary" ng-model="terminos" aria-label="Terminos">
                        He leído y acepto los <a class='blueText' href=""> Términos y Condiciones de uso </a> y el <a class='blueText' href=""> Aviso de privacidad </a>
                      </md-checkbox>
                    </p>
                  </div>
              </div>
              <!--END STEP 1-->

              <!--STEP 2-->
              <div id="datos-viajero" ng-class="step == 1 ? 'activar' : 'ng-hide'">

                <div class="title-block title-block-data booking-form" ng-if="hotel">
                  <h3>
                    <i class="icon-transporte icono-trans-d"></i>
                     <strong>Datos para el traslado de tu Tour (Opcional)</strong>
                  </h3>
                  <input flex="50" flex-sm="100" type="text" ng-model="transferClientName">
                </div>

                <% if(!req.user){ %>
                  <div class="block-content">
                    <%- partial('../partials/login-booking') -%>
                  </div>
                <% } %>


                <div class="block-content" id="datos-viajero-2">
                      <p><strong>Datos para tu reservación</strong></p>
                      <p>Estos datos son los que se utilizarán para hacerte llegar información de su reservación</p>
                      <div class="booking-form">

                          <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between start">
                            <input flex="45" flex-sm="100"  type="text" class="input-field" placeholder="Nombre" ng-model="client.name" name="nombre" ng-required>
                            <input flex="45" flex-sm="100" type="text" class="input-field" placeholder="Apellidos" ng-model="client.last_name" name="apellido"  ng-required>
                          </div>

                          <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between center">
                            <input flex="45" flex-sm="100"  type="email" class="input-field" placeholder="Correo Electrónico" ng-model="client.email" name="email" ng-required>
                            <input flex="45" flex-sm="100"  type="email" class="input-field" placeholder="Confirmar Correo Electrónico" name="repeat_email" ng-model="repeat_email">
                          </div>

                          <p class="tel-label no-margin">Número Telefónico</p>

                          <div layout="row" layout-sm="column" layout-align="space-between center">
                            <div class="input-field-wrap" flex="45" flex-sm="100">
                                <input flex="100" class="input-field" type="text" placeholder="Lada" ng-model="client.phone_lada">
                            </div>
                            <div class="input-field-wrap" flex="45" flex-sm="100" layout="row" layout-sm="column" flex-sm="100" layout-align="start center" >
                                <input flex="65" flex-sm="100"  type="text" class="input-field" placeholder="Número" ng-model="client.phone">

                                <div class="celular" flex="20" flex-sm="100" layout="row" layout-align="space-around center" >
                                  <md-checkbox md-no-ink aria-label="Celular" ng-model="client.isMobile" class="md-primary">
                                    Celular
                                  </md-checkbox>
                                </div>
                            </div>
                          </div>

                      </div>
                  </div>
              </div>
              <!--END STEP 2-->

              <!--STEP 3-->
              <div id="pago-reservacion" ng-class="step == 2 ? 'activar' : 'ng-hide'">
                  <div class="title-block">
                      <h3><strong>FORMA DE PAGO</strong></h3>
                  </div>
                  <div id="forma-pago" class="block-content booking-form">

                      <md-radio-group class="md-primary" ng-model="paymentMethod" layout="row" layout-md="column" layout-sm="column">
                        <md-radio-button flex-md="100" flex-sm="100" value="visa" class="md-primary">
                          <img src="/images/visa.png" class="img-tarjeta">
                        </md-radio-button>
                        <md-radio-button flex-md="100" flex-sm="100" value="master" class="md-primary">
                          <img src="/images/master.png" class="img-tarjeta">
                        </md-radio-button>
                        <md-radio-button flex-md="100" flex-sm="100" value="american" class="md-primary">
                          <img src="/images/american.png" class="img-tarjeta">
                        </md-radio-button>
                        <!--<md-radio-button flex-md="100" flex-sm="100" value="Puntos" class="md-primary">-->
                          <!--<img src="/images/puntos.png" class="img-tarjeta">-->
                        <!--</md-radio-button>-->
                        <md-radio-button flex-md="100" flex-sm="100" value="oxxo" class="md-primary">
                          <img src="/images/oxxo.png" class="img-tarjeta">
                        </md-radio-button>
                        <md-radio-button flex-md="100" flex-sm="100" value="paypal" class="md-primary">
                          <img src="/images/paypal.png" class="img-tarjeta">
                        </md-radio-button>
                      </md-radio-group>

                      <!--<p>Elije un banco</p>-->
                      <!--<md-select class="custom-select no-margin" placeholder="Elije un banco" ng-model="ba" placeholder>-->
                          <!--<md-option value="1">Bancomer <img src="/images/bancomer.png"></md-option>-->
                      <!--</md-select>-->

                  </div>

                  <div class="title-block">
                      <h3><strong>DATOS DEL PAGO</strong></h3>
                  </div>

                  <div class="block-content">
                    <div class="booking-form">

                      <p>
                          <img src="/images/{{paymentMethod}}.png" class="datos-img">
                      </p>

                      <p><strong>Datos del pago</strong></p>
                      <p class="no-margin">País</p>

                      <md-select class="custom-select no-margin" placeholder="Elige un país" ng-model="ccCountry">
                          <md-option value="US">Estados Unidos</md-option>
                          <md-option value="2">Canada</md-option>
                          <md-option value="3">España</md-option>
                          <md-option value="MX">Mexico</md-option>
                      </md-select>

                      <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between end">
                        <div flex="45" flex-sm="100" class="input-field-wrap">
                            <input type="text" class="input-field" placeholder="Número de Tarjeta" ng-model="ccNumber">
                        </div>
                        <div flex="45" flex-sm="100" class="input-field-wrap">
                          <p class="no-margin">Fecha de vencimiento</p>
                          <div layout="row" layout-align="space-between center">
                            <div flex="45">
                              <md-select class="custom-select no-margin" ng-model="ccmonth" placeholder="Més">
                                  <md-option ng-repeat="month in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{2015 + month}}">{{2015 + month}}</md-option>
                              </md-select>
                            </div>
                            <div flex="45">
                              <md-select class="custom-select" ng-model="ccyear" placeholder="Año">
                                  <md-option ng-repeat="year in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{2015 + year}}">{{2015 + year}}</md-option>
                              </md-select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between end" layout-align-sm="space-between center">
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <input type="text" class="input-field" placeholder="Nombre del titular de la tarjeta" ng-model="ccName">
                        </div>
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <input type="text" class="input-field" placeholder="Código de seguridad" ng-model="ccCode">
                        </div>
                      </div>

                    </div>

                    <div class="booking-form">

                      <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between end" layout-align-sm="space-between center">
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <p>Estado</p>
                          <md-select class="custom-select custom-select-full no-margin" ng-model="state">
                              <md-option value="1">Sinaloa</md-option>
                              <md-option value="2">Monterrey</md-option>
                              <md-option value="3">D.F</md-option>
                          </md-select>
                        </div>
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <input type="text" class="input-field" placeholder="Ciudad" ng-model="city">
                        </div>
                      </div>

                      <div class="input-field-wrap" layout="row" layout-sm="column" layout-align="space-between end" layout-align-sm="space-between center">
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <input type="text" class="input-field" placeholder="Dirección" ng-model="address">
                        </div>
                        <div class="input-field-wrap-inner" flex="45" flex-sm="100">
                          <input type="text" class="input-field" placeholder="Código Postal" ng-model="zipCode">
                        </div>
                      </div>

                    </div>

                    <div class="final-data">
                        <p class="terms-text">
                          <md-checkbox class="md-primary" ng-model="terminosVisibility" aria-label="Terminos">
                            He leído y acepto los <a href=""> Términos y Condiciones de uso </a> y el <a href=""> Aviso de privacidad </a>
                          </md-checkbox>
                        </p>
                        <p class="total-pagar"><strong>Total a Pagar</strong></p>
                        <p class="total-price">MXN <strong>{{priceTotal() | currency}}</strong></p>
                        <p class="small-text" flex="100">El importe incluye todos los impuestos</p>

                        <!--<input type="button" id="boton-pagar" value="PAGAR RESERVA">-->
                        <input type="button" class="action-btn payment-btn" value="PAGAR RESERVA">
                    </div>

                  </div>
              </div>
              <!--END STEP 3-->
              <div class="">
              <div layout='row' layout-align='end center'>
                <a href="" ng-click="continueShopping()" class="action-btn continue-btn shopping">CONTINUAR COMPRANDO</a>
                <a href="" ng-click="continueClick()" class="action-btn continue-btn">CONTINUAR</a>
              </div>
              </div>
              <!--<div class="block-content block-content-transparent">
                <a href="" ng-click="continueShopping()" class="action-btn continue-btn">CONTINUAR COMPRANDO</a>
                <div class="clear"></div>
              </div>
              <div class="block-content block-content-transparent">
                <a href="" ng-click="continueClick()" class="action-btn continue-btn">CONTINUAR</a>
                <div class="clear"></div>
              </div>-->


          </div>
          <!--END LEFT SIDE-->

          <!--RIGHT SIDE-->
          <div class="booking-info" flex="25" flex-md="100" flex-sm="100">
            <h2>Tu reservación</h2>
            <div class="booking-info-inner">
              <div class="booking-info-item" ng-repeat="tour in tours track by $index">
                <section class="booking-info-block">
                  <h3>{{tour.name}}</h3>
                  <p><a class="see-details" ng-href="/detalle/{{tour.id}}" target="_blank">ver detalles</a></p>
                  <p class="precio-detalles">MXN {{priceTour(tour) | currency}}</p>
                </section>
                <section ng-if="tour.hotel" class="booking-info-block">
                  <p><strong>TRANSPORTACIÓN</strong></p>
                  <p class="precio-detalles">MXN {{priceTransfer(tour) | currency}}</p>
                </section>
                <section class="booking-info-block">
                  <p><strong>IMPUESTOS</strong></p>
                  <p class="precio-detalles">MXN {{priceTax(tour) | currency}}</p>
                </section>
              </div>
            </div>
            <div class="booking-info-inner">
              <section class="booking-info-block">
                <p class="text-total-d"><strong>TOTAL</strong></p>
                <p class="precio-total-d">MXN {{priceTotal() | currency}}</p>
              </section>
            </div>
          </div>
          <!--END RIGHT SIDE-->

        </div>
    </div>
</div>
